<div class="wrap">

  <section class="titWrap">
    <h2>캠프 프로그램</h2>
  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">1박2일</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>1박2일 코스로 진행되는 프로그램입니다.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="" class="activeLi">1일차</a></li>
          <li><a href="">2일차</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox1">
        <div class="boxInner">
          <div class="boxTop">
            <strong>1일차</strong>
            <a href="">일정보기</a>
          </div>
          <p>체험을 통하여 동물과 소통해보세요. </p>
        </div>
      </div>
    </article>
  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">2박3일</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>2박3일 코스로 진행되는 프로그램입니다.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="">1일차</a></li>
          <li><a href="">2일차</a></li>
          <li><a href="" class="activeLi">3일차</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox2">
        <div class="boxInner">
          <div class="boxTop">
            <strong>3일차 </strong>
            <a href="">일정보기</a>
          </div>
          <p>마지막은 따뜻한 추억을 만들어봅시다.</p>
        </div>
      </div>
    </article>
  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">드론캠프</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>1박2일로 진행되는 드론캠프 프로그램입니다.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="">1일차</a></li>
          <li><a href="" class="activeLi">2일차</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox5">
        <div class="boxInner">
          <div class="boxTop">
            <strong>2일차</strong>
            <a href="">일정보기</a>
          </div>
          <p>드론 올림픽을 통하여 친구들과 경쟁해봅시다.</p>
        </div>
      </div>
    </article>
  </section>
</div>
<div class="wrap">
  <section class="cancel">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">취소 및 환불 규정</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>예약 후 취소 및 환불 규정을 확인하세요.</p>
    </article>
    <article class="cancelInner">
      <p><strong>3일 전</strong> 100%환불</p>
      <p><strong>2일 전</strong> 90%환불</p>
      <p><strong>1일 전</strong> 80%환불</p>
      <p class="red"><strong>당일</strong> 환불불가</p>

      <p class="red px16">- 인원부족, 천재지변 등으로 행사가 취소될 수도 있습니다. (전액환불/ 1:1 전화통보 합니다.)</p>
      <p class="red px16">- 예약연기, 변경 하셔도 취소 환불규정과 동일하게 적용됩니다.</p>
      <p class="red px16">- 근무시간 내에만 변경 및 취소요청이 가능하며 꼭 전화로 신청바랍니다.</p>
    </article>
  </section>
</div>