<div class="wrap">

  <section class="titWrap">
    <h2>단체 체험 프로그램</h2>
  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">곤충 체험학습</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>곤충과 교감하며 자연 생태계를 이해해보세요.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="" class="activeLi">관람</a></li>
          <li><a href="">곤충체험</a></li>
          <li><a href="">애벌레 담아가기</a></li>
          <li><a href="">나무곤충 목걸이 만들기</a></li>
          <li><a href="">천연 염색</a></li>
          <li><a href="">추억 만들기</a></li>
          <li><a href="">표본 만들기 (원통형)</a></li>
          <li><a href="">곤충로봇 만들기</a></li>
          <li><a href="">표본 만들기 (액자형)</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox1">
        <div class="boxInner">
          <div class="boxTop">
            <strong>관람</strong>
            <a href="">더보기</a>
          </div>
          <p>살아있는 곤충이 전시된 곤충관, 한국곤충과 세계의 곤충을 만나볼수있는
            표본전시장,수서곤충과 파충류를 볼수있는 생물관, 산양과 소동물등을관람합니다.</p>
        </div>
      </div>
    </article>
  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">낙농 체험학습</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>동물과 교감하고 친해짐으로써 존중과 이해를 배워보세요.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="">아이스크림 만들기</a></li>
          <li><a href="">낙농체험</a></li>
          <li><a href="" class="activeLi">치즈피자 만들기</a></li>
          <li><a href="">모짜렐라 치즈와 피자 만들기</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox2">
        <div class="boxInner">
          <div class="boxTop">
            <strong>치즈피자 만들기 </strong>
            <a href="">더보기</a>
          </div>
          <p>치즈와 토핑을 피자에 올린 후 오븐기에 구워 맛있게 먹습니다.</p>
        </div>
      </div>
    </article>
  </section>
  <section class="Pkg">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">곤충 체험 패키지</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>곤충 체험학습을 패키지로 즐겨보세요.</p>
    </article>

    <article class="pCon">
      <div class="pTab">
        <ul>
          <li><a href="" class="pActive">A형</a></li>
          <li><a href="">B형</a></li>
          <li><a href="">C형</a></li>
          <li><a href="">D형</a></li>
          <li><a href="">E형</a></li>
        </ul>
      </div>
      <div class="pImgBox imgBox3">
        <div class="pboxInner">
          <div class="pboxTop">
            <strong>A형</strong>
            <a href="">더보기</a>
          </div>
          <p>관람 + 곤충체험 + 나무곤충목걸이 만들기</p>
        </div>
      </div>
    </article>

  </section>
  <section class="Pkg">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">낙농 체험 패키지</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>낙농 체험학습을 패키지로 즐겨보세요.</p>
    </article>

    <article class="pCon">
      <div class="pTab">
        <ul>
          <li><a href="">A형</a></li>
          <li><a href="">B형</a></li>
          <li><a href="" class="pActive">C형</a></li>
        </ul>
      </div>
      <div class="pImgBox imgBox4">
        <div class="pboxInner">
          <div class="pboxTop">
            <strong>C형</strong>
            <a href="">더보기</a>
          </div>
          <p>관람 + 낙농체험 + 모짜렐라치즈만들기 + 피자만들기 +
            아이스크림만들기</p>
        </div>
      </div>
    </article>

  </section>
  <section class="Exp">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">벅스 드론체험</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>드론을 알아보고 조립과 조정법을 익히며 비행의 기본을 배우고 응용해보세요.</p>
    </article>
    <article class="eCon">
      <div class="eTab">
        <ul>
          <li><a href="">드론 배우기</a></li>
          <li><a href="" class="activeLi">미니드론</a></li>
          <li><a href="">드론 패키지</a></li>
        </ul>
      </div>
      <div class="eImgBox imgBox5">
        <div class="boxInner">
          <div class="boxTop">
            <strong>미니드론</strong>
            <a href="">더보기</a>
          </div>
          <p>기본 패키지로만으로도 실감나게 비행해보고 즐거움을 느낄수있습니다.</p>
        </div>
      </div>
    </article>
  </section>
</div>
<section class="insure">
  <strong>보험 가입 안내</strong>
  <p>원주 곤충마을 박물관은 관광객이 안심할 수 있게 책임 보험을 제공합니다.</p>
  <div class="insureInner">
    <div class=" insureCon insureLeft">
      <strong>배상책임보험</strong>
      <p>원주곤충마을 내에서 사고시<br>
        최고한도 5억까지 배상!</p>
    </div>
    <div class="insureCon insureRight">
      <strong>음식물배상책임보험</strong>
      <p>농장식당을 이용하여 음식물 사고시<br>
        최고한도 1억까지 배상!</p>
    </div>
  </div>
</section>
<div class="wrap">
  <section class="cancel">
    <article class="eTit">
      <div class="titBox">
        <span class="icons"></span>
        <span class="titCon">취소 및 환불 규정</span>
      </div>
      <!-- <div class="titLine"><hr></div> -->
    </article>
    <article class="eSubTit">
      <p>예약 후 취소 및 환불 규정을 확인하세요.</p>
    </article>
    <article class="cancelInner">
      <p><strong>3일 전</strong> 100%환불</p>
      <p><strong>2일 전</strong> 90%환불</p>
      <p><strong>1일 전</strong> 80%환불</p>
      <p class="red"><strong>당일</strong> 환불불가</p>

      <p class="red px16">- 인원부족, 천재지변 등으로 행사가 취소될 수도 있습니다. (전액환불/ 1:1 전화통보 합니다.)</p>
      <p class="red px16">- 예약연기, 변경 하셔도 취소 환불규정과 동일하게 적용됩니다.</p>
      <p class="red px16">- 근무시간 내에만 변경 및 취소요청이 가능하며 꼭 전화로 신청바랍니다.</p>
    </article>
  </section>
</div>