<div class="faq_gather">
  <div class="faq_head">
      <div>
          <h1 class="faqTitle">FAQ</h1>
          <div class="faqSearch_wrap">
              <input type="text" name="search" class="faq_search">
              <span class="faq_loupe"></span>
          </div>
      </div>
      <div class="faq_front">
          <span class="faq_eight">*</span> <span>검색 하고자 질문을 작성해 주시기 바랍니다.</span>
      </div>
  </div>
  <div class="faq_subtitle">
      <ul class="faqsub_wrap">
          <li>NO</li>
          <li>FAQ Title</li>
          <li>Date</li>
          <li>View</li>
      </ul>
  </div>
  <div class="faq_box">
      <ul>
          <li class="flex_li">
              <div class="faq_collapsible">
                  <p>1</p>
                  <p class="">예약은 어디서 하나요?</p>
                  <p>2022.12.24</p>
                  <p>조회수</p>
              </div>
              <div class="faq_cont">
                  <p>
                      체험프로그램 메뉴를 클릭 하시면 예약하기 목록이 나올겁니다.
                      예약하기 클릭 후 들어 가시면 예약을 하실 수 있습니다.
                  </p>
              </div>
          </li>
          <li class="flex_li">
              <div class="faq_collapsible">
                  <p>2</p>
                  <p>게시글 제목</p>
                  <p>2022.12.24</p>
                  <p>조회수</p>
              </div>
              <div class="faq_cont">
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.
                  </p>
              </div>
          </li>
          <li class="flex_li">
              <div class="faq_collapsible">
                  <p>3</p>
                  <p>회원탈퇴는 어떻게 하나요?</p>
                  <p>2022.12.24</p>
                  <p>조회수</p>
              </div>
              <div class="faq_cont">
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.
                  </p>
              </div>
          </li>
          <li class="flex_li">
              <div class="faq_collapsible">
                  <p>4</p>
                  <p>반품은 어떻게 하나요?</p>
                  <p>2022.12.24</p>
                  <p>조회수</p>
              </div>
              <div class="faq_cont">
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                      passages, and more recently with desktop publishing software like Aldus PageMaker including
                      versions of Lorem Ipsum.
                  </p>
              </div>
          </li>
      </ul>
  </div>
</div>

<script src="js/faq.js"></script>