
<div class="w1280 find-user-wrap">
    <img class="top_label" src="img/fine_label.png">
    <section class="tab_finde">
      <div class="tab_wrap">
        <h1>아이디/비밀번호 찾기</h1>
        <ul class="tab_list">
          <li class="tab_li li_act" data-tab="tab1">아이디 찾기</li>
          <li class="tab_li" data-tab="tab2">비밀번호 찾기</li>
        </ul>
  
        <div class="tab_cont target" id="tab1">
          <div class="main">
            <form class="container" onsubmit="return find_check01()">
              <input type="text" placeholder="이름" id="user_name" class="account">
              <input type="text" placeholder="이메일 주소" id="user_email" class="account">
              <button type="submit" id="finde">확 인</button>
            </form>
          </div>
        </div>
  
        <div class="tab_cont" id="tab2">
          <div class="main">
            <form class="container" onsubmit="return find_check02()">
              <input type=" text" placeholder="아이디" id="user_id" class="account">
              <input type="text" placeholder="이름" id="user_name" class="account">
              <input type="text" placeholder="이메일 주소" id="user_email" class="account">
              <button type="submit" id="finde">확 인</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <img class="bot_label" src="img/fine_label.png">
</div>
  <script src="js/find.js"></script>
  <script src="js/find01.js"></script>
  <script src="js/find02.js"></script>