<<<<<<< HEAD
<% if(isHF==true){ %>
=======

>>>>>>> origin/gyeowoon
<% if(subFooter==false){ %> 
<div id="footer_wrap">
  <div class="f_call">
      <p>강원도 원주시 지정면 간현로 10 (간현리 603-6)</p>
      <p class="f_call_margin">Tel. 033-731-8645</p>
      <p>Mail. bugsvill@bugsvill.co.kr</p>
  </div>
  <p class="f_txt">Copyright(C) BUGSVILL All Rights Reserved.</p>
  <div class="f_ff">
      <span><a href="">개인정보</a></span>
      <span><a href="">이용약관</a></span>
      <span><a href="">저작권 안내</a></span>
  </div>
</div>
<% }else{ %> 

<div id="footer_wrap">
  <div class="f_call">
      <p>강원도 원주시 지정면 간현로 10 (간현리 603-6)</p>
      <p class="f_call_margin">Tel. 033-731-8645</p>
      <p>Mail. bugsvill@bugsvill.co.kr</p>
  </div>
  <p class="f_txt">Copyright(C) BUGSVILL All Rights Reserved.</p>
  <div class="f_ff">
      <span><a href="">개인정보</a></span>
      <span><a href="">이용약관</a></span>
      <span><a href="">저작권 안내</a></span>
  </div>
</div>
<<<<<<< HEAD
<% } %> 
<% } else {}%> 
=======
<% } %> 
>>>>>>> origin/gyeowoon
