<% if(isHF==true){ %>
<% if(subHeader==false){ %>
<div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="width: 0px; " id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
  <a href="/introPage" class="w3-bar-item w3-button">곤충마을소개</a>
  <a href="/expPage" class="w3-bar-item w3-button">프로그램</a>
  <a href="/learnPage" class="w3-bar-item w3-button">곤충학습</a>
  <a href="/noticePage" class="w3-bar-item w3-button">커뮤니티</a>
  <a href="/lodgingPage" class="w3-bar-item w3-button">시설안내</a>
</div>

<div id="header_wrap">
  <div class="h_btn_wrap" onclick="w3_open()">
    <div class="h_btn">
      <span></span>
      <span class="btn_margin"></span>
      <span></span>
    </div>
  </div>
  <h1 class="h_logo"><a href="/"><img src="img/h_logo.png" alt=""></a></h1>
  <ul class="h_menu">
    <li><a href="/introPage">곤충마을소개</a></li>
    <li><a href="/expPage">프로그램</a></li>
    <li><a href="/learnPage">곤충학습</a></li>
    <li><a href="/noticePage">커뮤니티</a></li>
    <li><a href="/lodgingPage">시설안내</a></li>
  </ul>
  <div class="h_right">
    <p class="h_log"><a href="/loginPage">로그인</a></p>
    <p class="h_log h_log_margin"><a href="/join01Page">회원가입</a></p>
    <span class="h_zoom"><a href=""></a></span>
  </div>
</div>
<% }else{ %>
<div class="w3-sidebar w3-bar-block w3-dark-grey w3-animate-left" style="width: 0px; right:0" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
  <a href="/introPage" class="w3-bar-item w3-button">곤충마을소개</a>
  <a href="/expPage" class="w3-bar-item w3-button">프로그램</a>
  <a href="/learnPage" class="w3-bar-item w3-button">곤충학습</a>
  <a href="/noticePage" class="w3-bar-item w3-button">커뮤니티</a>
  <a href="/lodgingPage" class="w3-bar-item w3-button">시설안내</a>
</div>

<div id="header_wrap">
  <h1 class="h_logo"><a href="/"><img src="img/h_logo.png" alt=""></a></h1>
  <ul class="h_menu">
    <li><a href="/introPage">곤충마을소개</a></li>
    <li><a href="/expPage">프로그램</a></li>
    <li><a href="/learnPage">곤충학습</a></li>
    <li><a href="/noticePage">커뮤니티</a></li>
    <li><a href="/lodgingPage">시설안내</a></li>
  </ul>
  <div class="h_right">
    <p class="h_log"><a href="">로그인</a></p>
    <p class="h_log h_log_margin"><a href="">회원가입</a></p>
    <span class="h_zoom"><a href=""></a></span>
    <div class="h_btn_wrap" onclick="w3_open()">
      <div class="h_btn">
        <span></span>
        <span class="btn_margin"></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
<%- include('subNav') %>

<% } %>
<% } else{}%>




<script>
  function w3_open() {
    document.getElementById("mySidebar").style.width = "300px";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.width = "0px";
  }
</script>