  <div id="header_wrap">
    <div class="h_btn_wrap">
      <div class="h_btn">
        <span></span>
        <span class="btn_margin"></span>
        <span></span>
      </div>
    </div>
    <h1 class="h_logo"><a href=""><img src="img/h_logo.png" alt=""></a></h1>
    <ul class="h_menu">
      <li><a href="">곤충마을소개</a></li>
      <li><a href="">프로그램</a></li>
      <li><a href="">곤충학습</a></li>
      <li><a href="">커뮤니티</a></li>
      <li><a href="">시설안내</a></li>
    </ul>
    <div class="h_right">
      <p class="h_log"><a href="">로그인</a></p>
      <p class="h_log h_log_margin"><a href="">회원가입</a></p>
      <span class="h_zoom"><a href=""></a></span>
    </div>
  </div>