<!-- section1 -->
<section class="sec1Wrap" id="sec1">
  <div class="swiper videoSwiper">
    <div class="swiper-wrapper videoSwiperWrap">
      <div class="swiper-slide sec1VideoWrap">
        <video class="" autoplay loop muted>
          <source src="./video/butterfly.mp4" type="video/mp4">
        </video>

      </div>
      <div class="swiper-slide sec1VideoWrap">
        <video class="" autoplay loop muted>
          <source src="./video/production ID_4800092.mp4" type="video/mp4">
        </video>

      </div>
    </div>
  </div>
  <div class="sec1ConWrap">
    <div class="swiper con1Swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <strong>모험</strong>
          <p>새로운 것을 발견하고 도전하는 용기</p>
        </div>
        <div class="swiper-slide">
          <strong>가치</strong>
          <p>작은 것에도 소중함을 느끼는 마음</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sec1ScrollWrap">
    <p>아래로 스크롤 하세요!</p>
    <div class="icons">
      <div class="mouse"></div>
      <div class="arrow"></div>
    </div>

  </div>
</section>
<!-- section2 -->
<section class="sec2Wrap" id="sec2">
  <div class="sideDeco">
    <div class="ap1"><img data-aos="fade-left" data-aos-duration="1000" src="img/free-sticker-butterfly-4383887 1.png"
        alt=""></div>
    <div class="le"><img data-aos="fade-right" data-aos-duration="1500" src="img/lemon 1.png" alt=""></div>
    <div class="ac"><img data-aos="fade-left" data-aos-duration="2000" src="img/m_map_around1.png" alt=""></div>
  </div>
  <article class="firstArt">
    <div class="intro">
      <h2 data-aos="fade-up" data-aos-duration="2000"><strong>자연</strong>과 <strong>소통</strong>하며 배우는,<br>
        생명의 가치</h2>
      <p data-aos="fade-up" data-aos-duration="2500">원주 곤충마을 박물관에 오신 것을 환영합니다.</p>
    </div>
  </article>
  <!-- 두 번째 콘텐츠 -->
  <article data-aos="fade-up" data-aos-duration="2000" class="secondArt">
    <div class="titleWrap">
      <strong>프로그램 안내 및 소개</strong>
      <p>원주 곤충마을 박물관을 즐기는 방법</p>
      <div class="sec2ConWrap">
        <div class="prevWrap">
          <p>PREV</p>
        </div>
        <div class="swiper con2Swiper">
          <div class="swiper-wrapper">
            <!-- con1 -->
            <div class="swiper-slide contentWrap">
              <div class="conTitWrap">
                <img src="img/daly_pr.png" alt="" srcset="">
              </div>
              <div class="conImgWrap img1">

              </div>
              <p class="conArt">
                “곤충으로 부터 배우는 자연의 소중함”<br> 가족 그리고 친구들과 함께 더 소중한 시간을 보내세요!
              </p>
              <ul class="subConWrap">
                <li>곤충관</li>
                <li>생물관</li>
                <li>표본전시장</li>
                <li>학습장</li>
              </ul>
            </div>
            <!-- con2 -->
            <div class="swiper-slide contentWrap">
              <div class="conTitWrap">
                <img src="img/cook_pr.png" alt="" srcset="">
              </div>
              <div class="conImgWrap img2">

              </div>
              <p class="conArt">
                “내가 직접 만들어서 더 맛있고 뿌듯한 음식”<br>
                친구들과 재미있게 즐겨보세요!
              </p>
              <ul class="subConWrap">
                <li>빈대떡 만들기</li>
                <li>치즈/피자 만들기</li>
                <li>아이스크림 만들기</li>
              </ul>
            </div>
            <!-- con3 -->
            <div class="swiper-slide contentWrap">
              <div class="conTitWrap">
                <img src="img/exx_pr.png" alt="" srcset="">
              </div>
              <div class="conImgWrap img3">

              </div>
              <p class="conArt">
                “살아있는 생물로부터 배우는 지식”<br> 자연을 더욱 잘 이해해보세요!
              </p>
              <ul class="subConWrap">
                <li>살아있는 곤충체험</li>
                <li>동물 먹이주기</li>
                <li>표본 만들기</li>
                <li>목걸이 만들기</li>
                <li>드론체험</li>
              </ul>
            </div>
            <!-- con4 -->
            <div class="swiper-slide contentWrap">
              <div class="conTitWrap">
                <img src="img/play_pr.png" alt="" srcset="">
              </div>
              <div class="conImgWrap img4">

              </div>
              <p class="conArt">
                “친구들과 함께 즐기며 쌓는 추억”<br> 간직하며 오란도란 이야기해보세요!
              </p>
              <ul class="subConWrap">
                <li>OX퀴즈게임</li>
                <li>미니올림픽</li>
                <li>표본전시장</li>
                <li>윷놀이</li>
                <li>장기자랑</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="nextWrap">
          <p>NEXT</p>
        </div>
        <div class="swipeIconWrap">
          <span>
            옆으로 슬라이드 해보세요!
          </span>
        </div>
      </div>
    </div>
  </article>
</section>
<!-- section3 -->
<section data-aos="fade-up" data-aos-duration="1500" id="sec3">
  <div class="sec3_cont">
    <div class="sec_txt">
      <h4 class="sec3_txt1">지금 받을 수 있는<br>
        혜택이 궁금하다면?</h4>
      <h5 class="sec3_txt2">원하는 서비스를 찾아보세요.
        </h4>
    </div>
    <div id="sec3_right">
      <div class="sec3_box">
        <div><img src="img/icon_sail.png" alt="" class="sec3_boxicon1"></div>
        <a href="">
          <span class="sec3_inbox1">다양한 할인</span>
          <p class="sec3_inbox2">원주 시민 할인, 단체 할인 등<br>
            여러가지 할인을 받으세요.</p>
        </a>
      </div>
      <div class="sec3_box">
        <div><img src="img/icon_gift.png" alt="" class="sec3_boxicon2"></div>
        <a href="">
          <span class="sec3_inbox1">곤충마을 굿즈</span>
          <p class="sec3_inbox2">원주 곤충마을에서만 볼 수 있는<br>
            한정 굿즈를 만나보세요.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="sec4">
  <div class="sec4_top">
    <h3 data-aos="fade-right" class="sec4_title">시설안내</h3>
    <p data-aos="fade-right" class="sec4_toptxt">원주 곤충마을 박물관에 준비된 여러가지 시설을 이용해보세요.</p>
  </div>
  <div class="sec4_cont">
    <div class="sec4_swip1">
      <div class="sec4_swip1_img">
        <div class="swiper imgwrapS">
          <div class="swiper-wrapper">
            <!-- 이미지 슬라이드 1 숙소-->
            <div class="swiper-slide">
              <div class="swiper imgS1 imgS">
                <div class="swiper-wrapper">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/13-1.jpg" alt="">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/13-3.jpg" alt="">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/13-5.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- 이미지 슬라이드 2 강당 -->
            <div class="swiper-slide">
              <div class="swiper imgS2 imgS">
                <div class="swiper-wrapper">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/k1-1.jpg" alt="">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/k1-2.jpg" alt="">
                </div>
              </div>
            </div>
            <!-- 이미지 슬라이드 3 체험관 -->
            <div class="swiper-slide">
              <div class="swiper imgS3 imgS">
                <div class="swiper-wrapper">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/KakaoTalk_20220916_111143208_17.jpg" alt="">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/KakaoTalk_20220916_111143208_16.jpg" alt="">
                  <img class="swiper-slide" data-aos="fade-right" data-aos-duration="1500" src="img/h.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="1500" class="sec4_mediabg"></div>
      </div>
      <div data-aos="fade-left" data-aos-duration="1500" class="sec4_swip1_right">
        <div class="swiper con3Swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h5  class="sec4_swip1_title">숙박시설 안내</h5>
              <span  class="sec4_swip1_txt">원주 곤충마을의 숙소입니다.
                여러분의 편안하고 즐거운 하루를
                보내시고 마무리 하기 좋은 곳
                입니다.</span>
              <div  class="sec4_more"><a href="">더 보기</a></div>
            </div>
            <div class="swiper-slide">
              <h5  class="sec4_swip1_title">강당 안내</h5>
              <span  class="sec4_swip1_txt">원주 곤충마을의 강당입니다.
                공간이 넓어 체험하기에 좋고
                레크레이션에 적합한 공간
                입니다.</span>
              <div  class="sec4_more"><a href="">더 보기</a></div>
            </div>
            <div class="swiper-slide">
              <h5  class="sec4_swip1_title">체험관 안내</h5>
              <span  class="sec4_swip1_txt">원주 곤충마을의 체험관입니다.
                여러가지 체험을 할 수 있고
                관찰하기에 좋은 장소
                입니다.</span>
              <div  class="sec4_more"><a href="">더 보기</a></div>
            </div>
          </div>
        </div>
        
        <div  class="sec4_dotline swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div data-aos="fade-right" data-aos-duration="2500" class="sec4_left_backg"></div>
</section>
<!-- section5 -->
<section class="sec5">

</section>
<!-- section6 -->
<section data-aos="fade-up" data-aos-duration="1500" id="sec6">
  <div id="sec6_top">
    <article class="sec6_left">
      <h4>알려드립니다.</h4>
      <ul class="sec6_left_left">
        <li>
          <a href=""><span>[공지] 이것은 공지사항 입니다.</span>
            <span>2022-11-18</span></a>
        </li>
        <li>
          <a href=""><span>[공지] 이것은 공지사항 입니다.</span>
            <span>2022-11-09</span></a>
        </li>
        <li>
          <a href=""><span>[공지] 이것은 공지사항 입니다.</span>
            <span>2022-11-02</span></a>
        </li>
      </ul>
    </article>
    <article class="sec6_right">
      <div class="sec6_ri_le">
        <h4 class="sec_right_top">도와드릴까요?</h4>
        <h5 class='sec6_time'><img src="img/icon_call.png" alt="">
          <p>대표 번호</p>
        </h5>
        <h4 class="sec6_callnum">033-731-8645</h4>
      </div>
      <div class="sec6_ri_ri">
        <h5 class="sec6_time"><img src="img/icon_clock.png" alt="">
          <p>시간 안내</p>
        </h5>
        <span class="s6_ri_txt">하절기 : 10시 ~ 18시 / 동절기 : 10시 ~ 17시</span>
        <h6 class="sns_txt">SNS 곤충 자료실</h6>
        <ul class="sns_icon">
          <li><a href=""><img src="img/instacc.png" alt="" class="sns_img"></a></li>
          <li><a href=""><img src="img/youtubecc.png" alt="" class="sns_img"></a></li>
          <li><a href=""><img src="img/facebookcc.png" alt="" class="sns_img"></a></li>
        </ul>
      </div>
    </article>
  </div>
  <div id="sec6_bot">
    <div class="sec6_box">
      <a href="">
        <span class="s6_box_txt">오시는 길</span>
        <img src="img/s6icon1_w.png" alt="" class="s6_box_icon1 s6_box_icon">
      </a>
      <a href="">
        <span class="s6_box_txt">온라인 예약</span>
        <img src="img/s6icon2_w.png" alt="" class="s6_box_icon2 s6_box_icon">
      </a>
      <a href="">
        <span class="s6_box_txt">온라인<br>
          예약확인 </span>
        <img src="img/s6icon3_w.png" alt="" class="s6_box_icon3 s6_box_icon">
      </a>
      <a href="">
        <span class="s6_box_txt">시설 안내</span>
        <img src="img/s6icon4_w.png" alt="" class="s6_box_icon4 s6_box_icon">
      </a>
      <a href="">
        <span class="s6_box_txt">자주하는 <br> 질문</span>
        <img src="img/s6icon5_w.png" alt="" class="s6_box_icon5 s6_box_icon">
      </a>
      <a href="">
        <span class="s6_box_txt">묻고 답하기</span>
        <img src="img/s6icon6_w.png" alt="" class="s6_box_icon6 s6_box_icon">
      </a>
    </div>
  </div>
</section>

<script src="./js/index.js"></script>