<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="css/common.css">
  <!-- <link rel="stylesheet" href="css/smooth-scrollbar.css"> -->
  <!-- <script src="dist/smooth-scrollbar.js"></script> -->
  <!-- <link rel="stylesheet" href="css/reset.css"> -->
  <title>원주곤충마을박물관</title>

</head>

<body>
  <!-- <div class="wrap"> -->
  <header id="header" class="header">
    <% if(subHeader==true) {%>

    <% } else{ %>
    <%- include('header') %>
    <% } %>
  </header>

  <main>
    <%- body %>
  </main>
  <footer id="footer">
    <%- include('footer') %>
  </footer>
  <!-- </div> -->
</body>
<!-- smooth-scrollbar -->
<!-- <script src="js/smoothScroll.js"></script> -->
<% if(subHeader==true){ %>
<style>
  main {
    background-color: #fff;
  }
</style>
<% } %>
<script>
  AOS.init();
</script>

</html>