<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>곤충학습</title>
  <link rel="stylesheet" href="css/learn.css">
</head>

<body>
  <!-- header start -->
  <header>
    <div id="header_wrap">
      <h1 class="h_logo"><a href=""><img src="img/h_logo.png" alt=""></a></h1>
      <ul class="h_menu">
        <li><a href="">곤충마을소개</a></li>
        <li><a href="">프로그램</a></li>
        <li><a href="">곤충학습</a></li>
        <li><a href="">커뮤니티</a></li>
        <li><a href="">시설안내</a></li>
      </ul>
      <div class="h_right">
        <p class="h_log"><a href="">로그인</a></p>
        <p class="h_log h_log_margin"><a href="">회원가입</a></p>
        <span class="h_zoom"><a href=""></a></span>
        <div class="h_btn_wrap">
          <div class="h_btn">
            <span></span>
            <span class="btn_margin"></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div id="sub_header_wrap">
      <h2 class="sub_logo"><a href=""><img src="img/logo2_wh.png" alt=""></a></h2>
      <div class="sub_h_bot">
        <div class="home"><a href=""></a></div>
        <span><a href="">서브헤더</a></span>
        <span><a href="">서브헤더</a></span>
      </div>
    </div>
  </header>
  <!-- header end -->

  <main>
    <div id="learn_wrap">
      <ul id="sub_top">
        <li>곤충이란?</li>
        <li>곤충자료실</li>
        <li>사슴벌레</li>
        <li>장수풍뎅이</li>
      </ul>
      <section id="sub_learn">
        <h3 class="sub_title">곤충이란?</h3>
        <ul id="sub_bar" class="tab">
          <li class="tablinks" onclick="learnBug(event, 'tab1')" id="defaultOpen"><img src="" alt="" class="tabicon">
            <p class=" bar bar_choose">곤충의 특징</p>
          </li>
          <li class="tablinks" onclick="learnBug(event, 'tab2')"><img src="" alt="" class="tabicon">
            <p class="bar bar_other">곤충의 분류</p>
          </li>
          <li class="tablinks" onclick="learnBug(event, 'tab3')"><img src="" alt="" class="tabicon">
            <p class="bar bar_other">한국의 곤충</p>
          </li>
        </ul>
        <div id="tab1" class="tabcontent">
          <div class="sub_right_top">
            <img src="img/icon_leaf.png" alt="">
            <p>곤충의 특징</p>
          </div>
          <div class="sub_right_mid">
            <h5>곤충이 지구상에 최초로 출현한 시기는 4억년전인 고생대의 데본기 시대였으며,
              처음으로 유시곤충이 나타난 것은 3억 5천만년전인 석탄기라 할 수 있다.<br>
              이후 중생대, 신생대를 걸치면서 많은 종이 사라지기도 하며 다양한 진화경로를 거쳐 오늘날에 이르렀다.<br> 우리 나라에 분포하고 있는 곤충 무리들은 다른 동, 식물들과 마찬가지로 생물
              지리학상
              구북구계에 속하는 무리들이 많다.<br> 현재까지 우리 나라에 알려진 곤충은 대략 12,000여종에 이른다.<br> 곤충강은 850,000종 이상이 기록되어 있는 전 동물계의 3/4이상을
              차지하고 있는 큰
              그룹으로 다양한 특징을 가지고 있으며, 일반적인 형태적특징은 다음과 같다.
            </h5>
          </div>
          <div class="sub_right_bot">
            <span>
              <div class="box"></div>몸은 머리,가슴,배의 3부분으로 이루어져 있다.
            </span>
            <span>
              <div class="box"></div>가슴에는 2쌍의 날개와 3쌍의 다리가 있다.
            </span>
            <span>
              <div class="box"></div>다른 동물들과는 달리 외골격으로 이루 어져 있다.
            </span>
            <span>
              <div class="box"></div>머리에는 입틀, 더듬이, 겹눈등이 있다.
            </span>
            <span>
              <div class="box"></div>몸은 좌우대칭을 이룬다.
            </span>
            <span>
              <div class="box"></div>호흡은 아가미, 기관 또는 기문을 통해 한다.
            </span>
            <span>
              <div class="box"></div>일반적으로 암·수가 분리되어 있다.
            </span>
          </div>
        </div>
        <div id="tab2" class="tabcontent">
          <div class="sub_right_top">
            <img src="img/icon_leaf.png" alt="">
            <p>곤충의 분류</p>
          </div>
          <div class="sub_right_mid">
            <h5>생물분류학의 일부인 곤충분류학(昆蟲分類學)은 곤충을 대상으로 이들의 소속과 종명을 결정하며, 유연관계를 확인하는데 필요한 기초원리, 방법, 규칙 등을 이론적으로 연구하는 학문이다.<br>
              형태,
              습성 등의 형질을 이용하여 동물을 나눈 아리스토텔레스 이후 이명법(二名法)을 제창한 린네를 거쳐 발전해 온 현대의 곤충분류학은 곤충생태학(昆蟲生態學), 생리학(生理學), 방제(防除) 등 제반
              곤충연구의 기초가 되는 학문이다.<br> 응용곤충학 발전을 위해서는 곤충분류학이나 형태학 등 기초학문의 뒷받침이 있어야 하나, 아쉽게도 국내의 곤충분류 연구는 연구인력이나 표본자료의 부족으로
              아직
              초보 수준이라 하겠다.<br>
              분류의 기본단위는 종(種)으로서 다른 종들과 생식적으로 격리된 무리를 의미한다.<br> 1758년 린네에 의해 제안된 이명법을 이용한 학명이 종을 지칭하는 이름으로 사용된다.
            </h5>
          </div>
          <div class="sub_right_bot">
            <span class="tab2_sub1">
              1. 유시아강
            </span>
            <span>
              <div class="box"></div>개요
            </span>
            <span>
              절지동물문 곤충강의 하나의 아강(亞綱)으로 유시곤충류라 하여 곤충의 대부분을 차지한다. 거의다 날개가 있으나 퇴화되어 날개가 없는 것도 있다.
            </span>
            <span>
              <div class="box"></div>특성
            </span>
            <span>
              1) 거의 날개가 있으나 퇴화되어 없는 것도 있다.<br>
              2) 변태를 한다.<br>
              완전변태 : 반드시 번데기 과정을 거친다. (알 → 애벌레 → 번데기 → 성충) 예> 나비,풍뎅이 등<br>
              불완전변태 : 번데기 과정이 없다.(알 → 애벌레 → 성충) 예> 매미, 잠자리, 메뚜기
            </span>
            <span>
              <div class="box"></div>분류
            </span>
            <span>
              유시아강은 신시류와 고시류로 분류한다.<br>
              신시류 : 외시류와 내시류로 분류<br>
              고시류 : 잠자리목과 하루살이목으로 분류<br>
              신시류 : 날개가 있는 곤충 중 날개를 뒤로 접어서 몸에 붙일 수 있는 날개를 가진 종을 말하며 거의 모든 종이 포함된다.<br>
              외시류 : 유시아강 신시하강에 속하는 곤충중에서 생육기간 동안에 불완전 변태를 하는 곤충의 총칭으로 내시류에 대응 되는 명칭이다. <br>성장함에 따라 애벌레 때에 등쪽에 날개를 보관하는
              "시아(翅芽)"가 크게 노출하여 직접 성충으로 변태한다.<br>
              분류 : 외시류는 19개의 목으로 나뉜다.<br>
              <br>
              ※ 외시류와 내시류의 차이점<br>
              외시류 : 불완전변태 (알-애벌레-성충) => 애벌레 때에 시아가 나타난다.<br>
              내시류 : 완전변태 (알-애벌레-번데기-성충) => 번데기 때에 시아가 나타난다.<br>
              고시류 : 날개가 있는 곤충 중 날개를 뒤로 접어서 몸 옆구리에 붙일 수 없는 -자형 날개(글라이더형)를 가진 종
            </span>
            <span class="tab2_sub1">
              1. 무시아강
            </span>
            <span>
              <div class="box"></div>개요
            </span>
            <span>
              곤충류 중에서 날개가 없으며 유충과 성충의 모양이 거의 같은 원시적인 벌레의 총칭으로 세계 각지에 분포하고 있으며 <br>주로 흙속, 썩은나무, 돌밑, 낙엽 속 등에서 생활하여, 또는 동굴에
              사는 것도 있다.
            </span>
            <span>
              <div class="box"></div>특성
            </span>
            <span>
              1) 날개가 없다.<br>
              2) 변태를 하지 않는다.<br>
              3) 성충이 되어도 탈피를 하는 것도 있다.
            </span>
            <span>
              <div class="box"></div>종류
            </span>
            <span>
              톡토기목, 낫발이목, 종붙이목, 좀목
            </span>
          </div>
        </div>
        <div id="tab3" class="tabcontent">
          <div class="sub_right_top">
            <img src="img/icon_leaf.png" alt="">
            <p>한국의 곤충</p>
          </div>
          <div class="sub_right_mid">
            <h5>한국의 곤충에 대한 학문적 접근이라고 볼 수 있는 최초의 곤충채집은 영국, 독일인들을 비롯한 서양인들에 의해 주로 이루어졌으며,<br> 이들은 대부분이 곤충전문가들이 아닌 선원, 군인,
              외교관,
              식물학, 동물학 등 다양한 직업인들로서 한반도를 다른 목적으로 방문한 사람들이었다.<br> 우리 나라에서 최초로 학계에 보고 되었던 곤충은 1847년 타툼(T. Tatum)이라는 영국
              곤충학자에
              의해 기재 발표된 <br>제주홍단딱정벌레 (Damaster smaradigus monilifer Tatum)로 알려져 있다.<br><br>
              1970년대 이후 일부 정부기관을 중심으로 한 곤충분류학에 대한 연구사업이 활발히 이루어지기 시작하였으며,<br> 이 기간 동안에 한국곤충학회가 발족(1971년)된 것은 우리나라 곤충학
              발전사에
              남을 중요한 일이라 할 수 있다.<br> 최근 한국곤충학회와 한국응용곤충학회가 공동으로 펴낸 한국곤충명집(1994)에 따르면 총 기록된 곤충의 종수가 12,000여종으로 딱정벌레목이
              26%,<br> 나비목
              곤충이 25% 등으로 가장 많고, 그 다음이 벌목, 노린재목 순이었다.
            </h5>
          </div>
          <div class="sub_right_bot">
            <span class="tab2_sub1">
              한국의 곤충은 주로 다음과 같이 구분하며, 그 종수는 다음과 같다
            </span>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer>
    <div id="footer_wrap">
      <h2 class="f_logo"><img src="img/logo_222.png" alt=""></h2>
      <div class="f_call">
        <p>강원도 원주시 지정면 간현로 10 (간현리 603-6)</p>
        <p class="f_call_margin">Tel. 033-731-8645</p>
        <p>Mail. bugsvill@bugsvill.co.kr</p>
      </div>
      <p class="f_txt">Copyright(C) BUGSVILL All Rights Reserved.</p>
      <div class="f_ff">
        <span><a href="">개인정보</a></span>
        <span><a href="">이용약관</a></span>
        <span><a href="">저작권 안내</a></span>
      </div>
    </div>
  </footer>
  <script src="js/learn.js"></script>
</body>

</html>