<section class="quarter one">
  <div class="quarter_titlewrap">
    <span class="quarter_line1"></span>
    <h2 class="quarter_leaf">1층숙소</h2>
    <span class="quarter_line2"></span>
  </div>
  <div class="quartertab_wrap">
    <ul class="quartertab_menu">
      <li class="tab_item tablinks" onclick="oneFloor(event, 'tab1-1')" id="defaultOpen">거실</li>
      <li class="tab_item tablinks" onclick="oneFloor(event, 'tab1-2')">주방</li>
      <li class="tab_item tablinks" onclick="oneFloor(event, 'tab1-3')">화장실</li>
      <li class="tab_item tablinks" onclick="oneFloor(event, 'tab1-4')">샤워실</li>
    </ul>
  </div>
  <div class="quarterimg_wrap">
    <div id="tab1-1" class="geosil1 tabcontent img">
      <img src="img/숙소/oneFloor_room1-1.jpg" class="quarter_img" alt="숙소_거실">
      <div class="quartertabcont_txt">
        <p class="tab_tit">거실</p>
        <p class="qt_p">총 30명 정도 한번에 이용 할 수 있습니다.</p>
        <p class="qt_p">청결하게 이용해 주시기 바랍니다.</p>
      </div>
    </div>
    <div id="tab1-2" class="jubang1 tabcontent img">
      <img src="./img/숙소/JUBANG101.jpg" class="quarter_img" alt="숙소_주방">
      <div class="quartertabcont_txt">
        <p class="tab_tit">주방</p>
        <p class="qt_p">여러명의 조리를 한번에 하실 수 있습니다.</p>
        <p class="qt_p">가스 사용을 하실때 조심히 다뤄주시기 바랍니다.</p>
      </div>
    </div>
    <div id="tab1-3" class="hwajangsil tabcontent img">
      <img src="./img/숙소/oneFloor_toilet.jpg" class="quarter_img" alt="숙소_화장실">
      <div class="quartertabcont_txt">
        <p class="tab_tit">화장실</p>
        <p class="qt_p">비교적 청결하게 사용해 주시기 바랍니다.</p>
        <p class="qt_p">변기의 물을 내릴때 꼭 뚜껑을 닫고 내려 주시기 바랍니다.</p>
      </div>
    </div>
    <div id="tab1-4" class="showersil tabcontent img">
      <img src="./img/숙소/oneFloor_shower.jpg" class="quarter_img" alt="숙소_샤워실">
      <div class="quartertabcont_txt">
        <p class="tab_tit">샤워실</p>
        <p class="qt_p">세면도구는 샤워질 안에 들고 들어가시면 안됩니다.</p>
        <p class="qt_p">사용 후 항상 창문을 열어 환기를 시켜주시기 바랍니다.</p>
      </div>
    </div>
  </div>
</section>
<section class="quarter two">
  <div class="quarter_titlewrap">
    <span class="quarter_line1"></span>
    <h2 class="quarter_leaf">2층 숙소</h2>
    <span class="quarter_line2"></span>
  </div>
  <div class="quartertab_wrap">
    <ul class="quartertab_menu">
      <li class="tab_item tablinks2" onclick="twoFloor(event, 'tab2-1')" id="defaultOpen2">거실</li>
      <li class="tab_item tablinks2" onclick="twoFloor(event, 'tab2-2')">주방</li>
      <li class="tab_item tablinks2" onclick="twoFloor(event, 'tab2-3')">화장실</li>
      <li class="tab_item tablinks2" onclick="twoFloor(event, 'tab2-4')">샤워실</li>
    </ul>
    <div class="quarterimg_wrap">
      <div id="tab2-1" class="tabcontent2 one">
        <img src="./img/숙소/13-1.jpg" class="quarter_img" alt="숙소">
        <div class="quartertabcont_txt">
          <p class="tab_tit">거실</p>
          <p class="qt_p">총 30명 정도 한번에 이용 할 수 있습니다.</p>
          <p class="qt_p">청결하게 이용해 주시기 바랍니다.</p>
        </div>
      </div>
      <div id="tab2-2" class="tabcontent2 two">
        <img src="./img/숙소/13-2.jpg" class="quarter_img" alt="숙소">
        <div class="quartertabcont_txt">
          <p class="tab_tit">주방</p>
          <p class="qt_p">여러명의 조리를 한번에 하실 수 있습니다.</p>
          <p class="qt_p">가스 사용을 하실때 조심히 다뤄주시기 바랍니다.</p>
        </div>
      </div>
      <div id="tab2-3" class="tabcontent2 three">
        <img src="./img/숙소/13-5.jpg" class="quarter_img" alt="숙소">
        <div class="quartertabcont_txt">
          <p class="tab_tit">화장실</p>
          <p class="qt_p">비교적 청결하게 사용해 주시기 바랍니다.</p>
          <p class="qt_p">변기의 물을 내릴때 꼭 뚜껑을 닫고 내려 주시기 바랍니다.</p>
        </div>
      </div>
      <div id="tab2-4" class="tabcontent2 four">
        <img src="img/숙소/13-5.jpg" class="quarter_img" alt="">
        <div class="quartertabcont_txt">
          <p class="tab_tit">샤워실</p>
          <p class="qt_p">세면도구는 샤워질 안에 들고 들어가시면 안됩니다.</p>
          <p class="qt_p"> 사용 후 항상 창문을 열어 환기를 시켜주시기 바랍니다.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="quarter three">
  <div class="quarter_titlewrap">
    <span class="quarter_line1"></span>
    <h2 class="quarter_leaf">숙소개요</h2>
    <span class="quarter_line2"></span>
  </div>
  <article class="qtlist_wrap">
    <ul>
      <li>- 안녕하세요. 저희 숙소는 최대 인원 4~60명까지 수용 가능하며 1층과 2층으로 나뉘어져 있습니다.</li>
      <li>- 쾌적하고 편안한 곳에서 즐거운 추억을 만들어 주세요.</li>
      <li>- 어린시절 한번쯤은 경험 해봐야 되는 순간을 간직하기 위한 곳입니다.</li>
    </ul>
  </article>
</section>
<section class="quarter four">
  <div class="quarter_titlewrap">
    <span class="quarter_line1"></span>
    <h2 class="quarter_leaf">안내사항</h2>
    <span class="quarter_line2"></span>
  </div>
  <article class="qtlist_wrap">
    <ul>
      <li>- 기물 파손을 주의 해 주시기 바랍니다.</li>
      <li>- 부족한 비품은 카운터에 문의 해 주시기 바랍니다. </li>
      <li>- 10시 이후에는 전면 소등 할 예정이오니, 취침 준비를 미리 해주시기 바랍니다.</li>
      <li>- 당일 예약이 어렵습니다. 그러므로 1주일전에는 예약 전화를 주시기 바랍니다.</li>
      <li>- 단체 생활이므로 다른 이용자들을 배려 하여서 사용해 주시기 바랍니다.</li>
    </ul>
  </article>
</section>
<script src="js/tnrth.js"></script>