<div class="w1280">
<div class="w420 welcom_wrap">
    <!-- <img src="img/logo_dark.png" alt="원주곤충마을박물관 로고" style="width: 318px; height: 187px"> -->
    <h1>어서오세요!</h1>
    <div>
      <!-- <input id="id" class=deco type="text" name="id" placeholder="8자 내외로 적어 주세요"> -->
      <form id="login_form" onsubmit="return login_check()">
        <!--action="서버의url"-->
        <input type="text" id="user_id" placeholder="아이디">
        <input type="password" id="user_pw" placeholder="비밀번호">
        <div class="flex">
          <input id="back" type="button" onclick="location.href='/'" value="돌아가기">
          <input id="login_chk" type="submit" value="로그인">
        </div>
        <label for="remember_check">아이디 저장하기
          <input type="checkbox" id="remember_check">
        </label>
      </form>
      <!-- <form class="container" onsubmit="return login_check()">
        <input type=" text" placeholder="아이디" id="user_id" class="account">
        <input type="text" placeholder="이름" id="user_pw" class="account">
        <input type="text" placeholder="이메일 주소" id="user_email" class="account">
        <button type="submit" id="finde">확 인</button>
      </form> -->
    </div>
  </div>

  <div class="login-join-wrap">
    <a href="/join01Page">회원가입 </a>
  </div>
  <div class="simple_login">
    <h1>SNS계정으로 간편 로그인/회원가입</h1>
    <p>SNS간편 로그인으로 1초 만에 로그인 하세요.</p>
    <ul>
      <li><a class="kakao" href="#">카카오</a></li>
      <li><a class="google" href="#">구글</a></li>
      <li><a class="naver" href="#">네이버</a></li>
    </ul>
    <h2>로그인에 문제가 있으신가요?</h1>
      <div class="find_login">
        <a class="id_find" href="/findPage">아이디 찾기</a>
        <span>|</span>
        <a class="pw_find" href="/findPage">비밀번호 찾기</a>
      </div>
  </div>
</div>