<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main_sec2.css">
</head>

<body>
  <header></header>
  <main>
    <section id="sec3">
      <div class="sec3_cont">
        <div class="sec_txt">
          <h4 class="sec3_txt1">지금 받을 수 있는<br>
            혜택이 궁금하다면?</h4>
          <h5 class="sec3_txt2">원하는 서비스를 찾아보세요.
            </h4>
        </div>
        <div id="sec3_right">
          <div class="sec3_box"><a href="">
              <span class="sec3_inbox1">다양한 할인</span>
              <p class="sec3_inbox2">원주 시민 할인, 단체 할인 등<br>
                여러가지 할인을 받으세요.</p>
            </a></div>
          <div class="sec3_box"><a href="">
              <span class="sec3_inbox1">곤충마을 굿즈</span>
              <p class="sec3_inbox2">원주 곤충마을에서만 볼 수 있는<br>
                한정 굿즈를 만나보세요.</p>
            </a></div>
        </div>
      </div>
    </section>
    <section id="sec4">
      <div class="sec4_top">
        <h3 class="sec4_title">시설안내</h3>
        <p class="sec4_toptxt">원주 곤충마을 박물관에 준비된 여러가지 시설을 이용해보세요.</p>
      </div>
      <div class="sec4_cont">
        <div class="sec4_swip1">
          <div class="sec4_swip1_img"><img src="img/sec4_img1.png" alt=""></div>
          <div class="sec4_swip1_right">
            <h5 class="sec4_swip1_title">숙박시설 안내</h5>
            <span class="sec4_swip1_txt">원주 곤충마을의 숙소입니다.<br>
              여러분의 편안하고 즐거운 하루를<br>
              보내시고 마무리 하기 좋은 곳<br>
              입니다.</span>
            <div class="sec4_more"><a href="">더 보기</a></div>
            <div class="sec4_dotline">
              <div class="sec4_dot s4_dot1"><a href=""></a></div>
              <div class="sec4_dot s4_dot2"><a href=""></a></div>
              <div class="sec4_dot s4_dot3"><a href=""></a></div>
              <div class="sec4_dot s4_dot4"><a href=""></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="sec4_left_backg"></div>
    </section>
  </main>
  <footer></footer>
</body>

</html>