<div class="notice-write-wrap">
    <div class="notice-holder">
        <section class="notice-write-top">
            <div class="top-box">
                <h2 class="title">공지사항 수정</h2>
            </div>
        </section>
        <section class="notice-write-middle">
            <form class="notice-write-form" action="/updates" method="post">
                <input type="hidden" value="<%= row.id %>" name="id" id="id">
                <div class="tit-box">
                    <p>제목</p>
                    <input type="text" name="title" value="<%= row.title %>">
                </div>
                <div class="content-box">
                    <p>내용</p>
                    <textarea name="content" id=""><%= row.content %></textarea>
                </div>
                <button onclick="location.href='/noticePage'" class="btns">돌아가기</button>
                <input class="btns" type="submit" value="저장">
            </form>
        </section>
    </div>
</div>