<div>
  <section class="section_faqWrite mar150">
    <div class="fw_title">
      <h2>문의하기</h2>
      <span>문의 할 사항을 작성 하실 수 있는 페이지 입니다.</span>
    </div>

    <form class="fw_form" method="post" action="/qnaWrite">
      <article class="fw_write">
        <div class="fwinput_wrap">
          <button class="fw_button">
            <label for="user">성함 <span class="fw_star">*</span></label>
          </button>
          <input class="fw_input put_name" type="text" name="user">
        </div>
        <div class="fwinput_wrap">
          <button class="fw_button">
            <label for="title">제목 <span class="fw_star">*</span></label>
          </button>
          <input class="fw_input put_email" type="text" name="title">
        </div>
        <div class="fwinput_wrap">
          <button class="fw_button">
            <label for="tel">전화번호 <span class="fw_star">*</span></label>
          </button>
          <input class="fw_input put_num" type="text" name="tel">
        </div>
        <div class="fwinput_wrap">
          <button class="fw_button">
            <label for="experience">문의 할 항목 <span class="fw_star">*</span></label>
          </button>
          <div class="fw_ul">
            <select name="category" id="">
              <option value="곤충체험 프로그램">곤충체험 프로그램</option>
              <option value="낙농체험 프로그램">낙농체험 프로그램</option>
              <option value="벅스드론 프로그램">벅스드론 프로그램</option>
              <option value="단체체험 프로그램">단체체험 프로그램</option>
            </select>
          </div>
        </div>
        <div class="fwinput_wrap">
          <label for="content">문의내용 <span class="fw_star">*</span></label>
          <textarea class="fw_text" cols="50" rows="10" name="content"></textarea>
        </div>
      </article>
      <div class="fw_check">
        <input type="submit" value="작성하기" class="fw_submit">
      </div>
    </form>
  </section>
</div>
<script src="js/faqWrite.js"></script>

