<div id="learn_wrap">
    <section id="sub_learn">
      <h3 class="sub_title">사슴벌레</h3>
      <ul id="sub_bar" class="tab">
        <li class="tablinks" onclick="learnBug(event, 'tab1')" id="defaultOpen"><img src="" alt="" class="tabicon">
          <p class=" bar bar_choose">사슴벌레란?</p>
        </li>
        <li class="tablinks" onclick="learnBug(event, 'tab2')"><img src="" alt="" class="tabicon">
          <p class="bar bar_other">사슴벌레 키우기</p>
        </li>
        <li class="tablinks" onclick="learnBug(event, 'tab3')"><img src="" alt="" class="tabicon">
          <p class="bar bar_other">사슴벌레 집만들기</p>
        </li>
      </ul>
      <div id="tab1" class="tabcontent">
        <div class="sub_right_top">
          <img src="img/icon_leaf.png" alt="">
          <p>사슴벌레란?</p>
        </div>
        <div class="sub_right_mid">
          <h5>곤충강 > 절지동물문 > 딱정벌레목 > 사슴벌레과 에 속하는 사슴벌레는 뿔(턱)이 사슴을 닮아 사슴벌레라 하며 전세계적으로 900여종이 서식하고 있으며 한국에는 14~16종이 서식하고
            있는 것으로 추정하고 있다. 사슴벌레는 종류마다 뿔(턱)의 생김새가 조금씩 다르며 이빨의 갯수와 모양 및 위치가 각각 틀리다. 현재 국내에서 사육되는 사슴벌레로는 사슴벌레, 넓적사슴벌레,
            톱사슴벌레, 애사슴벌레, 홍다리사슴벌레, 다우리아사슴벌레, 왕사슴벌레 정도이다.
          </h5>
        </div>
        <div class="sub_right_bot">
          <span>
            <div class="sasum sa1"></div>
            <div class="box"></div>사슴벌레<br><br>사슴벌레의 대표종이며 머리부분에 넓게 펼쳐져 있는 것이 특징이며 뿔(턱)의 안쪽에 4~5개의 이가 있으며,<br> 머리 가까이에
            있는
            이가 제일크다.
          </span>
          <span>
            <div class="sasum sa2"></div>
            <div class="box"></div>넓적사슴벌레<br><br>한국내에서 가장 흔한 종으로 힘이세고 수명이 길어 애완용으로 인기가 좋다. <br>뿔(턱)의 끝쪽이 구부러 있고 뿔(턱)안쪽
            전체에
            잘게 이가 있는 것이 특징이다.
          </span>
          <span>
            <div class="sasum sa3"></div>
            <div class="box"></div>톱사슴벌레<br><br>사슴벌레중 제일사나우며 뿔(턱)이 부메랑처럼 휘어져 있는 것이 가장 큰 특징이다.
          </span>
          <span>
            <div class="sasum sa4"></div>
            <div class="box"></div>애사슴벌레<br><br>사슴벌레중 가장 작은 애사슴벌레는 왕사슴벌레와 비슷하며 국내에서 쉽게 채집이 가능하다.
          </span>
          <span>
            <div class="sasum sa5"></div>
            <div class="box"></div>홍다리사슴벌레<br><br>암수모두 넓적다리부분에 붉은빛이 돌아 홍다리라 불리우며 타 사슴벌레와 쉽게 구별이 된다.
          </span>
          <span>
            <div class="sasum sa6"></div>
            <div class="box"></div>다우리아사슴벌레<br><br>뿔(턱)이 작으며 일직선으로 뻗어 끝이 위로 올라가 있으며, 산사슴벌레라고도 부른다.
          </span>
          <span>
            <div class="sasum sa7"></div>
            <div class="box"></div>왕사슴벌레<br><br>국내에서는 희귀종으로 가격이 비싼편이며 힘도세고 오래살며, 뿔(턱)이 굵고 이빨이 한개인 특징이 있다.
          </span>
        </div>
      </div>
      <div id="tab2" class="tabcontent">
        <div class="sub_right_top">
          <img src="img/icon_leaf.png" alt="">
          <p>사슴벌레 키우기</p>
        </div>
        <div class="sub_right_mid">
          <h5>
            사슴벌레는 딱정벌레목 사슴벌레과에 속하는 곤충입니다.<br>
            사슴벌레는 우리나라에 사슴벌레 넓적사슴벌레, 톱사슴벌레, 왕사슴벌레, 애사슴벌레, 홍다리사슴벌레, 다우리아사슴벌레, 줄사슴벌레, 비단사슴벌레, 두점박이사슴벌레등이 있습니다. <br>성충으로
            얼마동안 사느냐에 따라 3~4개월 사는것과 2~3년 사는것으로 나눌수 있습니다.<br> 사슴벌레, 톱사슴벌레, 다우리아사슴벌레등은 성충이된 해의 8월말에서 9월에 알을 낳은 후 죽고,
            넓적사슴벌레,
            애사슴벌레, 홍다리사슴벌레 등은 2~3년 왕사슴벌레는 3~4년 정도 사는것으로 알려져 있습니다.<br>
            교미가 끝난 사슴벌레류 성충 암컷은 8월~9월초에 썩은 참나무류에 구멍을 파고 한번에 1개씩 10~20개의 알을 낳습니다.<br>
            이 알이 부화되어 애벌레, 번데기 과정을 거쳐 사슴벌레 성충이 되는 것이지요.
          </h5>
        </div>
        <div class="sub_right_bot">
          <span class="tab2_sub1">
            사슴벌레 에벌레 기르기
          </span>
          <span>
            <img src="img/saki2.jpg" alt="" class="sasum saki2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            1.준비물<br><br>
            (1) 사슴벌레 애벌레<br><br>
            현재 판매되고 있는 애벌레는 대부분 3령(종령)유충입니다.<br>사슴벌레는 알, 1령, 2령, 3령(종령), 번데기를 거쳐 성충이 되기까지 자연 상태에서는 2~3년 걸립니다.<br> 그러나
            겨울에도
            따뜻하게만 해주면 겨울잠을 자지않고 열심히 먹이를 먹기 때문에 1년에서 1년 6개월 정도로 기간을 단축 시킬 수 있답니다.<br> 3령 유충은 알이나 1령 유충처럼 연약하지 않아서 초보자들도
            쉽게
            성충까지 성공 시킬 수가 있습니다.
          </span>
          <span>
            <img src="img/saki3.jpg" alt="" class="sasum saki3">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            (2) 사육통<br><br>
            사육통은 네모난 햄스터 사육통, 혹은 원기둥 형태의 투명한 용기 정도가 알맞습니다.<br>
            네모난 사육통에 장수풍뎅이 애벌레처럼 2~3마리의 유충을 한꺼번에 넣어서 기를 경우 서로 물려서 죽을 수 있으므로 가급적 1마리씩 넣어야 합니다.<br> 네모난 사육통은 애벌레가 성충이
            되어서도
            별도의 사육통을 준비할 필요없이 놀이목과 먹이 접시만 구입하면 그대로 사육 할 수 있는 장점이 있고,<br> 원기둥형태의 용기는 애벌레를 꺼내지 않고도 관찰할 기회가 많은 장점이 있답니다.
          </span>
          <span>
            <img src="img/saki4.jpg" alt="" class="sasum saki4">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            (3) 애벌레(유충)의 먹이<br><br>
            유충의 먹이는 자연상태에서 참나무류의 썩은 부위를 갉아먹고 자라는 것이 일반적이며, 부엽토나 퇴비에서 자라는 경우는 거의 없습니다.<br>
            판매되는 대부분의 유충먹이는 순수한 참나무 톱밥에 발효 보조제 등을 첨가하여 잘 발효시켜 톱밥 내에 미생물을 증식 시킨 참나무 발효 톱밥입니다. <br>애벌레가 참나무류의 썩은 부위를
            갉아먹고
            자라는 것은 그 안에 미생물을 섭취함으로써 단백질을 흡수하는 것이지요.<br><br>
            만약에 애벌레를 참나무 생 톱밥에 넣어 둔다면 애벌레가 열심히 먹이를 먹더라도 생 톱밥에는 미생물의 존재량이 적어 나중에는 성충이 매우 작게 태어 나는 것입니다.<br>
            결과적으로 성충의 크기를 결정하는 것은 유전적인 영향도 있지만 애벌레 때 얼마나 많은 영양분을 섭취 하는가에 따라서도 큰 영향을 받습니다.<br> 일단 성충으로 탈바꿈(우화)하면 평생동안 그
            크기로
            지내다가 생을 마감합니다.
          </span>
          <span>
            <img src="img/saki5.jpg" alt="" class="sasum saki5">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            2. 사육통 꾸미기<br><br>

            이제 애벌레가 잘 먹고 클 수 있도록 사육통을 꾸며 봅시다.<br> 사육통이 네모난 것은 사슴벌레 유충을 1마리 넣는 경우가 일반적이기 때문에 이것을 기준으로 보면, 가로 약
            20cm이상,
            세로 약
            10cm이상, 높이 약 15cm이상의 것을 준비하는 것이 좋고, 그 안에 참나무 발효톱밥을 10cm이상 채우는 것이 좋습니다.<br>
            원기둥 형태의 용기에는 애벌레 1마리를 넣을 경우 지름은 8cm이상, 높이는 20cm이상의 1L이상의 용기를 사용하는 것이 좋습니다.<br> 지름이 너무 작으면 애벌레가 벽에 부딪치는
            일이
            많고,
            높이가 너무 낮으면 먹이의 양이 적어서 나중에 먹이의 일부분을 다시 교체 시켜 줘야 하는 불편함이 있습니다<br>(자세히 설명하면 애벌레가 먹이를 거이 다 먹으면 배설물이 윗부분 까지
            올라오게
            되며, 더 이상의 애벌레 먹이가 없게 되므로 배설물의 일부분을 참나무 발효톱밥으로 갈아 줘야 되는 것이지요).<br>
            애벌레의 먹이인 발효 톱밥은 판매 시 수분이 맞추어져 있어서 그대로 사용하면 되겠지만, 만약 수분 조절이 안된 것이라면 톱밥 1L에 유리컵 2/3~1컵 정도를 넣고 골고루 섞어서 어른이
            톱밥을 꼭 쥐었을 때 물이 안 나올 정도면 됩니다.<br>
            이렇게 수분을 맞춘 발효톱밥(곤충전문점에서 수분이 조절된 톱밥은 그대로)을 사육통에 채우고 애벌레를 넣어두면 10~20분 정도면 애벌레는 톱밥 속으로 혼자 힘으로 파고 들어가 먹이를
            맛있게
            먹고 무럭무럭 자랍니다.
          </span>
          <span>
            <img src="img/saki6.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            3. 애벌레 시기의 관리<br><br>

            사육통을 모두 꾸며서 애벌레를 넣은 후에는 톱밥표면이 마르지 않게 가끔 물뿌리개로 물을 뿌려 주어야 합니다.<br> 사육통은 햇빛이 들지않고 따뜻한 방이 좋습니다. 온도가 30 C 이상이
            되는 곳은
            피하는 것이 좋지요.<br>
            애벌레를 관찰 할 경우는 손을 깨끗이 씻거나 일회용 위생장갑을 착용한 후 다루는 것이 좋으며, 너무 자주 꺼내어 보는 것도 나중에 성충이 작아지는 원인이 되기도 하니까 2~3 주내에 1번
            정도가 좋겠습니다.
          </span>
          <span>
            <img src="img/saki7.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            4. 번데기와 성충이 되는 시기의 관리<br><br>

            애벌레는 먹이를 열심히 먹고 빠르면 5월(자연 상태에서는 6월)에 누에 꼬치모양의 번데기 방을 만듭니다.<br> 이 시기에는 유충을 꺼내 보는 것도 안되고 사육통에 충격을 주는 것도 피해야
            합니다.<br>
            나중에 성충이 기형으로 태어나거나 죽을 수도 있거든요.<br>
            번데기가 된 후 약 20일 정도 후에는 아주 말랑말랑한 사슴벌레 성충이
            태어납니다(이 과정을 우화라고 합니다).<br> 그렇다 하더라도 절대로 건드리지 마세요.<br> 사슴벌레 몸이 딱딱해 지기까지 약15일이 걸리거든요.<br>
            그러면 자연히 자기 스스로 밖으로 나올 겁니다.<br> 그때에는 마음 놓고 만져도 보고 먹이도 주고 재미 있게 놀 수 있지요.
          </span>
          <span class="tab2_sub1">
            사슴벌레 성충 기르기
          </span>
          <span>
            <img src="img/saki8.jpg" alt="" class="sasum saki2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            1.준비물<br><br>
            (1) 사슴벌레 성충<br><br>
            사슴벌레는 종류에 상관없이 먹고 자라고 번식하는 습성이 비슷하기 때문에 어떤종류의 사슴벌레라도 관계가 없습니다.<br> 그러나 넓적사슴벌레가 적응력도 좋고 성충으로 2~3년 정도 살 수
            있으며,
            번식도 다른 사슴벌레에 비해 쉽기 때문에 초보자에게 권하고 싶습니다.<br>
            사슴벌레 성충은 가까운 곤충 전문점에서 구입하거나 인터넷으로 검색(검색창에서 "곤충판매"로 검색)하여 원하는 사이트에서 주문하면 택배로 받을 수 있습니다.<br> 또한 여름철에는 밤에
            참나무숲
            근처의 가로등 밑이나 수액(큰 참나무의 상처난 부위에 나오는 식초냄새가 나는 액체)이 흐르는 참나무를 낮에 잘 보아 두었다가 밤에 전등을 들고 비춰보면 먹이를 먹기 위해 붙어있는 사슴벌레를
            채집 할 수도 있습니다.
          </span>
          <span>
            <img src="img/saki9.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">

            (2) 사육통<br><br>
            사육통은 네모난 햄스터 사육통(원래는 채집통으로 만들어 졌다고 함), 혹은 집에서 사용하다 버린 뚜껑이 있는 네모난 통을 깨끗이 닦아서 뚜껑에 송곳으로 여러 개의 구멍을 뚫어서 사용할 수도
            있습니다.<br>
            사육통의 크기에 따라서 1마리, 1쌍, 수컷 2마리에 암컷 1마리를 넣거나 여러 쌍을 넣기도 하지요.<br> 그러나 1쌍을 넣어서 기르는 것이 가장 좋습니다.<br> 너무 많이 넣을 경우
            서로 싸워서
            다리가 잘리거나, 죽기도 하거든요.<br> 가을에 번식을 시켜 알을 낳고 애벌레로 태어나서 새로운 성충이 되는 것을 보시려면 당연히 1쌍이 있어야 겠지요.
          </span>
          <span>
            <img src="img/saki10.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">


            (3) 먹이 및 기타 용품(톱밥, 놀이목, 먹이접시)<br><br>
            성충의 먹이는 자연에서 참나무류의 상처난 부위에 흐르는 시큼한 냄새가 나는 수액을 먹고 살지요.<br> 그러나 집에서 기를 때는 수액을 구할 수 없기 때문에 다른 먹이를 줘야 겠지요.<br>
            판매되는 성충의 먹이는 젤리가 대부분입니다.<br><br>
            그러나 사슴벌레는 사과, 포도, 바나나 등 달고 새콤한 과일은 모두 잘 먹습니다.<br> 또한 집에서 직접 만들어 먹일 수도 있지요.<br> 먹이를 만드는 법은 물 1컵에 흑설탕 1컵,
            요구르트 1개를
            넣고 녹인 다음 가열하여 검은색이 짙어지면 냉각을 시키고 소주 컵으로 소주 반컵, 식초 2컵을 넣고 잘 저어서 냉장고에 넣어놓고 넘어지지 않게 고정 시켜놓은 조그만 컵(음료수 뚜껑을 접착제로
            붙여서 사용해도 됨)에 따라 줄 수도 있지요.<br> 먹이로 주는 과일이나 위와같이 만들어주는 먹이는 자주 갈아 주거나 먹이통을 자주 깨끗이 닦아 주어야 더러워지지 않습니다.<br>
            다른 준비물로는 사육통에 깔아줄 참나무 톱밥과 사슴벌레가 오르내릴수 있는 놀이목, 젤리를 끼워 놓을수 있는 먹이접시가 필요 합니다.<br> 놀이목은 사슴벌레가 뒤집힐 경우 잡고 일어날 수
            있는
            지지대 역할을 합니다.<br> 사슴벌레가 뒤집혀서 오랫동안 못 일어나면 죽게 되기 때문에 놀이목은 매우 중요합니다.
          </span>
          <span>
            <img src="img/saki11.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">

            2. 사육통 꾸미기<br><br>

            이제 사슴벌레가 잘 먹고 놀 수 있도록 사육통을 꾸며 봅시다.<br> 먼저 사육통에 축축한 참나무 톱밥을 깔아 줍니다. 너무 건조한 상태는 사슴벌레에게 좋지 못하기 때문에 톱밥은 어느 정도
            수분이
            있어야 합니다.<br> 다음에 놀이목과 먹이접시를 넣어 주고, 먹이접시에 먹이를 넣은 다음 사슴벌레를 살짝 넣어주면 사육통 꾸미기는 끝, 사슴벌레의 새로운 보금자리가 마련된 것이지요.
          </span>
          <span>
            <img src="img/saki12.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">

            3. 성충의 관리<br><br>

            사육통을 모두 꾸며서 성충을 넣은 후에는 톱밥표면이 마르지 않게 가끔 물뿌리개로 물을 뿌려 주어야 합니다.<br> 사육통은 햇빛이 들지않고 여름에는 서늘하고, 겨울에는 따뜻한 방이
            좋습니다.<br> 온도가
            30 C 이상이 되는 곳은 피하는 것이 좋지요.<br>
            사슴벌레 성충을 관찰할 경우는 큰턱(흔히 집게라고 부름)에 물리지 않게 조심해야 합니다.<br> 수컷이 물면 많이 아프지는 않지만 잘 놓지를 않습니다.<br> 암컷은 큰턱이 작지만 잘못해서
            물리면 피가 날
            수도 있습니다.<br>
            먹이는 가능하면 자주 갈아 주세요.<br> 특히 과일이나 집에서 만든 먹이는 하루에 한번씩 갈아주어야 사육통이 깨끗합니다.<br>
            성충은 가끔 흐르는 물에서 부드러운 솔로 닦아 주세요 몸에 먹이가 묻어 있으면 조그만 기생충이 달라 붙을 수도 있으니까요.
          </span>
          <span>
            <img src="img/saki13.jpg" alt="" class="sasum saki6">
            <img src="img/cfff8d_dot.png" alt="" class="dot">

            4. 산란시기의 관리<br><br>

            사육통에 암수가 같이 있을 경우 7월에 교미를 합니다.<br> 이때에는 사슴벌레를 건드리지 않는 것이 좋습니다.<br> 방해를 해서는 안되거든요.<br> 사슴벌레 암컷은 8월 말에서
            9월초(빠른경우는 7월 말)에
            썩은 참나무에 알을 낳습니다.<br> 7월에는 놀이목 대신에 산란목(썩은 참나무)을 넣어 두어야 합니다.<br> 산란목은 곤충전문점이나 참나무 숲에서 적당히 썩은 것을 가져오면
            됩니다.<br> 그러나 두께와 썩은
            정도가 적당한 것을 찾기가 쉽지가 않습니다.<br> 그래서 버섯을 키운후의 버섯폐목을 많이 이용합니다.<br><br>
            산란목을 구입했으면 통에다 물을 담고 산란목을 4시간~6시간 동안 넣어둡니다.<br> 산란목이 너무 말라 있으면 알을 낳지 않을 수도 있습니다.<br> 수분 조절이 적당하게 된 산란목을
            놀이목을 빼고
            그자리에 톱밥에 반정도 묻히게 놓고 표면이 마르지 않도록 물뿌리개로 자주 물을 뿌려 줍니다.<br> 물이 줄줄 흐를 정도로 뿌리면 수분이 너무 많게 됨으로 살짝 젖을 정도로 뿌려
            주세요.<br>

            암컷은 썩은 참나무에 큰턱으로 구멍을 파고 한번에 1개씩 약 10개에서 20개 정도의 알을 낳습니다. 구멍에다 알을 낳은 후 암컷은 구멍을 감쪽같이 막아버립니다.<br> 암컷이 알을 낳을
            시기가
            되었을 때 썩은 참나무를 물어 뜯은 자국을 여기 저기서 발견할 수가 있습니다.<br> 이때에는 수컷을 따로 분리해 놓고 암컷을 건드리지 말아야 합니다.<br> 그러지 않으면 알을 안 낳을
            수도 있습니다.<br>
            알의 크기는 2mm정도로 계란형의 우유 색이며 부화 시기가 다가올수록 약간은 노란색으로 변하며 크기도 3mm정도로 약간 커집니다.<br>

            알은 15일에서 20일 정도면 부화해서 1령의 연약한 애벌레로 부화합니다.<br> 알을 찾아서 애벌레용 사육통에 넣어서 부화시켜 키울 수도 있지만, 잘못하면 모두 깨지기 때문에 알이 부화해서
            1령
            후기 때가 되는 10월 말이나 11월초에 산란목을 조심스럽게 부셔서 애벌레를 찾은 후 애벌레 사육통에서 키우는 것이 가장 안전합니다.<br>
            이렇게 태어난 애벌레는 애벌레 기르기를 참고로 키우시면 새로운 성충으로 태어나겠지요.
          </span>
        </div>
      </div>
      <div id="tab3" class="tabcontent">
        <div class="sub_right_top">
          <img src="img/icon_leaf.png" alt="">
          <p>사슴벌레 집만들기</p>
        </div>
        <div class="sub_right_bot">
          <span class="tab2_sub1">
            재료
          </span>
          <span>
            <img src="img/sajip1.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 1)<br><br>
            먼저 내용물이 빠짐없는지 확인하는 단계입니다.<br><br>
            (1). 케이스<br>
            (2). 톱밥<br>
            (3). 먹이접시목<br>
            (4). 놀이목<br>
            (5). 산란목<br>
            (6). 곤충젤리<br>
            (7). 사슴벌레
          </span>
          <span class="tab2_sub1">
            톱밥넣기
          </span>
          <span>
            <img src="img/sajip2.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 2)<br><br>
            사슴벌레용 톱밥을 사육통에 넣어주세요.
          </span>
          <span class="tab2_sub1">
            톱밥다지기
          </span>
          <span>
            <img src="img/sajip3.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 3)<br><br>
            물과 함께 톱밥을 촉촉하게 적신 후 적당히 다져주세요.
          </span>
          <span class="tab2_sub1">
            용품넣기
          </span>
          <span>
            <img src="img/sajip4.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 4)<br><br>
            사육에 필요한 놀이목, 먹이접시목, 산란목을 넣어주세요.<br>
            (용품위치는 아무곳이나 상관없습니다)<br><br>
            ※산란목을 6시간 물에 담근 후 꺼내어 톱밥속에 완전히 묻어 넣습니다.※
          </span>
          <span class="tab2_sub1">
            곤충젤리 넣기
          </span>
          <span>
            <img src="img/sajip5.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 5)<br><br>
            곤충의 먹이인 곤충젤리를 먹이목에 넣어주세요.
          </span>
          <span class="tab2_sub1">
            세팅완료
          </span>
          <span>
            <img src="img/sajip6.jpg" alt="" class="sasum2">
            <img src="img/cfff8d_dot.png" alt="" class="dot">
            순서 6)<br><br>
            사슴벌레 집 만들기 세팅 완료입니다.<br>
            이제부터 애정을 담아 곤충을 키워주세요!
          </span>
        </div>
      </div>
    </section>
  </div>
  <script src="js/learnsasum.js"></script>