<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서브헤더푸터</title>
    <link rel="stylesheet" href="css/sub_hf.css">
</head>

<body>

    <!-- header start -->
    <header>
        <div id="header_wrap">
            <h1 class="h_logo"><a href=""><img src="img/h_logo.png" alt=""></a></h1>
            <ul class="h_menu">
                <li><a href="">곤충마을소개</a></li>
                <li><a href="">프로그램</a></li>
                <li><a href="">곤충학습</a></li>
                <li><a href="">커뮤니티</a></li>
                <li><a href="">시설안내</a></li>
            </ul>
            <div class="h_right">
                <p class="h_log"><a href="">로그인</a></p>
                <p class="h_log h_log_margin"><a href="">회원가입</a></p>
                <span class="h_zoom"><a href=""></a></span>
                <div class="h_btn_wrap">
                    <div class="h_btn">
                        <span></span>
                        <span class="btn_margin"></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub_header_wrap">
            <h2 class="sub_logo"><a href=""><img src="img/logo2_wh.png" alt=""></a></h2>
            <div class="sub_h_bot">
                <div class="home"><a href=""></a></div>
                <span><a href="">서브헤더</a></span>
                <span><a href="">서브헤더</a></span>
            </div>
        </div>
    </header>
    <!-- header end -->

    <main></main>

    <footer>
        <div id="footer_wrap">
            <h2 class="f_logo"><img src="img/logo_222.png" alt=""></h2>
            <div class="f_call">
                <p>강원도 원주시 지정면 간현로 10 (간현리 603-6)</p>
                <p class="f_call_margin">Tel. 033-731-8645</p>
                <p>Mail. bugsvill@bugsvill.co.kr</p>
            </div>
            <p class="f_txt">Copyright(C) BUGSVILL All Rights Reserved.</p>
            <div class="f_ff">
                <span><a href="">개인정보</a></span>
                <span><a href="">이용약관</a></span>
                <span><a href="">저작권 안내</a></span>
            </div>
        </div>
    </footer>

</body>

</html>