section.expc {
  /* margin: 150px 0; */
  max-width: 1280px;
  margin: 150px auto;
  position: relative;
  padding-top: 75px;
  padding-bottom: 145px;
}
.expc img{
  width: 100%;
  height: 680px;
  object-fit: cover;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0px;
  letter-spacing: 10px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 20px;
}

.expc_subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.expc_leaf {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 2rem;
  background-image: url(../img/icon_leaf.png);
  background-position: left center;
  background-size: 32px;
  background-repeat: no-repeat;
}

.expc_line {
  display: block;
  width: 87%;
  height: 1px;
  background-color: #222;
  margin: 0.75rem;
}
.el_1{
  display: none;
}

.expc_btnwrap {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  border-left: 1px solid #749F82;
  border-top: 1px solid #749F82;
}

.expc_btnwrap li{
  border-right: 1px solid #749F82;
  border-bottom: 1px solid #749F82;
  flex : 1;
  text-align: center;
}

.expc_imgwrap{
  width: 100%;height: 100%;
  position: relative;
}
.expc_imgwrap::before {
  content: "";
  width: 100%; height: 680px;
  background-color: #749F82;
  position: absolute;
  bottom: -50px; left: -20%;
}

.tab_txt {
  display: block;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 81px;
}

.tabs.active, .tablinks2.active{
  color: #ffffff;
  font-weight: bold; 
  background-color: #749F82;
}

.tabcont,
.tabcont2 {
  display: none;
  position: relative;
  cursor: pointer;
}

.tabcont_txt {
  display: none;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  font-size: 1.25rem;
  text-align: left;
  position: absolute;
  bottom: -15px; left: 49.98%;
  transform: translate(-50%, -10%);
  animation: fadeInUp 1s;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(100%);
  }
}

.tabcont:hover .tabcont_txt{
  display: block;
}
.tabcont2:hover .tabcont_txt {
  display: block;

}
.tabcont_txt>p{
  font-size: 1.75rem;
}

@media (max-width:1400px) {
  .expc_leaf{
    font-size: 26px;
    background-size: 26px;
  }
  .tabcont_txt{
    bottom: -15px;
  }
}

@media (max-width:1024px) {
  .expc_leaf{
    font-size: 22px;
    background-size: 24px;
  }
  .expc_line{
    width: 40%;
  }
  .el_1{
    display: block;
  }
  .tab_txt{
    font-size: 18px;
  }
}
@media (max-width:768px) {
  .expc img{
    height: 380px;
  }
  .expc_leaf{
    font-size: 18px;
    background-size: 20px;
    padding-left:1.5rem;
  }
  .expc_imgwrap::before{
    display: none;
  }
  .expc_line{
    width: 35%;
  }
  .tab_txt{
    font-size: 14px;
  }
  .tabcont_txt{
    display: block;
    bottom: -15px;
    font-size: 18px;
  }
}