
.fw_title{
  text-align: center;
}
.fw_title h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.fwinput_wrap{
  width: 50%;
  border-bottom: 2px solid #749F82;
  margin: auto;
  transition: all 1s;
  margin: 15px auto;
}

.fw_button{
  background-color:#ffffff;
  border: none;
  margin-bottom: 10px;
}
.fwinput_wrap label{
  display: block;
  cursor: pointer;
}
.fw_input{
  display: block;
  width:100%;
  outline: 0; 
  border: 0;
  height: 0;
}
.fw_text{
  width: 100%;  height: 50%;
  background-color: #eeeeee;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 15px;
  padding: 15px;
}
.fw_ul{
  margin-bottom: 10px;
}
.fw_check{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.fw_submit{
  display: block;
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.fw_star{
  font-size: 24px;
  text-align:center;
}