main {
  background-color: #425F57;
}

.wrap {
  position: relative;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

.sec1Wrap {
  position: relative;
}

.videoSwiper{
  height: 100vh;
}
.sec1VideoWrap {
  filter: brightness(50%);
  overflow: hidden;
  height: 100vh;
}
video{
  width: 100%;
  height: 100%;
    object-fit: cover;
}

.sec1ConWrap {
  position: absolute;
  z-index: 5;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

.sec1ConWrap strong {
  font-size: 58px;
}

.sec1ConWrap p {
  font-size: 32px;
  margin-top: 30px;
}

.sec1ScrollWrap {
  position: absolute;
  z-index: 10;
  color: #fff;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec1ScrollWrap>p {
  font-size: 14px;
}

.sec1ScrollWrap>.icons {
  animation: icon-ani 1s ease-in-out infinite reverse;
}

.sec1ScrollWrap .mouse {
  width: 32px;
  height: 32px;
  background-image: url('../img/iconmonstr-mouse-1-64.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 30px;
}

.sec1ScrollWrap .arrow {
  width: 32px;
  height: 32px;
  background-image: url('../img/iconmonstr-caret-down-filled-64.png');

  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

article.firstArt {
  padding-top: 0;
  margin-bottom: 600px;
  transition: translateY 1s;
}

.intro {
  margin-left: 25%;
  color: #fff;
}

.intro>h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}

.intro>h2>strong {
  font-size: 58px;
  font-weight: bold;
}

.intro>p {
  font-size: 20px;
  margin-top: 20px;
}

.secondArt {
  width: 100%;
  padding-bottom: 200px;
}

.titleWrap>strong {
  display: block;
  text-align: center;
  font-size: 58px;
  color: #fff;
  margin-bottom: 20px;

}

.titleWrap>p {
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.sec2Wrap {
  position: relative;
  overflow: hidden;
}

.sideDeco {
  position: relative;
}
.sideDeco img{
width: 100%;
}

.sideDeco>div {
  position: absolute;
}

.sideDeco>.ap1 {
  top: 75px;
  right: -60px;
  transform-origin: 100% 100%;
  animation: ap1-ani 5s ease-in-out  infinite ;
}


@keyframes ap1-ani{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0);
  }
}
.sideDeco>.le {
  width: 300px;
  top: 341px;
  left: -55px;
  transform-origin: 30% 100%;
  animation: le-ani 2s ease-in-out  infinite ;
}
@keyframes le-ani{
  0%{
    transform: rotate(0) scale(1);
  }
  50%{
    transform: rotate(3deg) scale(1.05);
  }
  100%{
    transform: rotate(0)scale(1);
  }
}
.sideDeco>.ac {
  top: 445px;
  right: 0px;
  /* transform-origin: 100% 100%; */
  animation: ac-ani 3s ease-in-out  infinite ;
}
@keyframes ac-ani{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
.sideDeco>.ap2 {
  top: 739px;
  left: 504px;
    transform-origin: 100% 100%;
    animation: ap2-ani 3s ease-in-out  infinite ;
}
@keyframes ap2-ani{
  0%{
    transform: translateX(0) translateY(0) scale(0.77);
  }
  50%{
    transform: translateX(-10px)  translateY(-10px) scale(0.8);
  }
  100%{
    transform: translateX(0)  translateY(0) scale(0.77);
  }
}
.sideDeco>.lef {
  top: 732px;
  right: 406px;
  transform-origin: 0% 100%;
  animation: lef-ani 5s ease-in-out  infinite ;
}
@keyframes lef-ani{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(3deg);
  }
  100%{
    transform: rotate(0);
  }
}


.sec2Wrap::before {
  content: '';
  background-image: url('../img/mainBack.png');
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.sec2ConWrap {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  gap: 2%;
  position: relative;
}

.contentWrap {
  position: relative;
}

.conTitWrap {
  /* width: 350px;
  height: 100px; */
  width: 530px;
  /* background-image: url('../img/title_img.png'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #000;
}
.conTitWrap img{
  width: 100%;
}

.conTitWrap>strong {
  font-size: 32px;
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.con2Swiper{
  width: 600px;
  /* width: 35%; */
  margin: 0 !important;
  overflow: initial !important;
}
.conImgWrap {
  width: 100%;
  height: 680px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  margin: 0 auto;
background-size: cover;
  background-position: 50%;
  filter: brightness(50%);
}
.conImgWrap.img1{
  background-image: url('../img/watching.jpg');
}
.conImgWrap.img2{
  background-image: url('../img/eating.jpg');
}
.conImgWrap.img3{
  background-image: url('../img/studying.jpg');
  background-position: 20%;
}
.conImgWrap.img4{
  background-image: url('../img/playing.jpg');
}

.prevWrap {
  width: 64px;
  height: 64px;
  background-image: url('../img/stag-beetle\ \(6\).png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  transform: rotate(-90deg);
  position: relative;
  top: 360px;
  cursor: pointer;
}

.prevWrap>p {
  transform: rotate(90deg);
  position: absolute;
  bottom: 24px;
  right: 60px;
  color: #fff;
}

.prevWrap:hover {
  animation: prev-ani 1s ease-in-out infinite;
}

.nextWrap {
  width: 64px;
  height: 64px;
  background-image: url('../img/stag-beetle\ \(6\).png');
  background-size: cover;
  transform: rotate(90deg);
  position: relative;
  top: 360px;
  cursor: pointer;
}

.nextWrap>p {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 24px;
  left: 60px;
  color: #fff;
}

.nextWrap:hover {
  animation: next-ani 1s ease-in-out infinite;
}

.swipeIconWrap{
display: none;
  position: absolute;
  z-index: 10;
  bottom: 250px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 14px;
  color: #fff;
  animation: swipeIcon-ani 1s ease-in-out infinite;;

}
@keyframes swipeIcon-ani {
  0% {
    transform: translatex(-48%);
  }

  50% {
    transform: translatex(-52%);
  }

  100% {
    transform: translatex(-48%);
  }
}
.swipeIconWrap>span{
  display: block;
  padding-bottom: 64px;
  background-image: url('../img/iconmonstr-cursor-22-64.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 64px;

}

.conArt {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.subConWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  color: #fff;
  margin-top: 40px;
  font-size: 16px;
}
.subConWrap>li{
  width: 40%;
  display: block;
  padding-left: 30px;
  background-image: url('../img/iconmonstr-caret-right-lined-48\ 1.png');
  background-size: 30px auto;
  background-repeat: no-repeat;
  line-height: 28px;
}


@keyframes icon-ani {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes prev-ani {
  0% {
    transform: rotate(-90deg) translateY(0);
  }

  50% {
    transform: rotate(-90deg) translateY(-10px);
  }

  100% {
    transform: rotate(-90deg) translateY(0);
  }
}

@keyframes next-ani {
  0% {
    transform: rotate(90deg) translateY(0);
  }

  50% {
    transform: rotate(90deg) translateY(-10px);
  }

  100% {
    transform: rotate(90deg) translateY(0);
  }
}

#my-scrollbar {
  width: 500px;
  height: 500px;
  overflow: auto;
}





@media (max-width:1400px) {
  .intro>h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
  }
  
  .intro>h2>strong {
    font-size: 46px;
    font-weight: bold;
  }
  .intro>p {
    font-size: 16px;
    margin-top: 16px;
  }
  .sideDeco>.ap1 {
    width: 240px;
    top: 140px;
    right: -60px;
  }
  .sideDeco>.le {
    width: 240px;
  }
  .sideDeco>.ac {
    width: 240px;
  }
  .titleWrap>strong {
    font-size: 48px;
    margin-bottom: 16px;
  
  }
  .titleWrap>p {
    font-size: 16px;
  }
  .con2Swiper {
    width: 500px;
}
.conTitWrap {
  width: 430px;
}
.conImgWrap {
  width: 100%;
  height: 550px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  margin: 0 auto;
  background-size: cover;
  background-position: 50%;
  filter: brightness(50%);
}
  .nextWrap {
    width: 48px;
    height: 48px;
  }
  
  .nextWrap>p {
    font-size: 16px;
    bottom: 17px;
    left: 42px;
  }

  .prevWrap {
    width: 48px;
    height: 48px;
  }
  
  .prevWrap>p {
font-size: 16px;
    bottom: 17px;
    right: 42px;
  }
  .conTitWrap>strong {
    font-size: 40px;
}
.conArt {

  font-size: 16px;
  line-height: 24px;
}
}
@media (max-width:768px) {
  .prevWrap {
    display: none;
}
  .nextWrap {
    display: none;
}
.swipeIconWrap {
  display: block;
}
}