
#sec6 {
  width: 100%;
  background-color: #425f57;
  padding: 140px 0;
  box-sizing: border-box;
  color: #fff;
}
#sec6_top {
  display: flex;
  justify-content: space-evenly;
}
.sec6_left > h4 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.sec6_left_left > li {
  display: flex;
  justify-content: space-between;
}
.sec6_left_left > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 25px 20px 30px;
  box-sizing: border-box;
}
.sec6_left_left > li :hover {
  background-color: #fff;
  color: #425f57;
  font-weight: 700;
}
.sec6_left_left > li > a > span {
  display: block;
}
.sec6_left_left > li > a > span:last-child {
  text-align: right;
}
.sec_right_top {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.sec6_callnum {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.sec6_time {
  display: flex;
}
.sec6_time > img {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 3px;
}
.sec6_time > p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: normal;
}
.s6_ri_txt {
  display: block;
  font-size: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  font-weight: 300;
}
.sns_txt {
  font-size: 20px;
  padding: 20px 0;
  box-sizing: border-box;
}
.sns_icon {
  display: flex;
}
.sns_icon > li {
  padding-right: 20px;
  box-sizing: border-box;
}
.sns_img {
  display: block;
  width: 35px;
  height: 35px;
}
#sec6_bot {
  width: 1280px;
  margin: 0 auto;
  padding: 100px 10px 0;
  box-sizing: border-box;
}
.sec6_box {
  display: flex;
  justify-content: space-between;
}
.sec6_box > a {
  text-decoration: none;
  display: block;
  position: relative;
  width: 197px;
  height: 197px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 15px;
  color: #fff;
}
.sec6_box :hover {
  background-color: #fff;
  color: #425f57;
}
.s6_box_txt {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 26px;
  font-weight: bold;
}
.s6_box_icon {
  position: absolute;
  display: block;
}
.s6_box_icon1 {
  width: 55px;
  height: 55px;
  right: 15%;
  bottom: 10%;
}
.s6_box_icon2 {
  width: 38px;
  height: 38px;
  right: 13%;
  bottom: 14%;
}
.s6_box_icon3 {
  width: 38px;
  height: 38px;
  right: 13%;
  bottom: 14%;
}
.s6_box_icon4 {
  width: 38px;
  height: 38px;
  right: 13%;
  bottom: 14%;
}
.s6_box_icon5 {
  width: 47px;
  height: 47px;
  right: 11%;
  bottom: 12%;
}
.s6_box_icon6 {
  width: 43px;
  height: 43px;
  right: 13%;
  bottom: 14%;
}
