.nav-wrap{
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
}
ul.nav-list{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    display: flex;

}
<<<<<<< HEAD
.nav-list>li {
    flex: 1;
    /* width: 10%; */
    /* min-width: 128px; */
    max-width: 128px;
=======
.nav-list>li{
    width: 10%;
    min-width: 128px;
>>>>>>> origin/gyeowoon
}
.nav-list>li>a{
    display: block;
    line-height: 50px;
    text-align: center;
    color: #ccc;

}
.nav-list>li>a:hover{
    color: #749F82;
    /* background-color: #ccc; */
}

.nav-list>li>a>span{
display: inline-block;
height: 100%;
}

.active-list{
    font-weight: bold;
    color: #749F82;
    border-bottom: 1px solid #749F82;
<<<<<<< HEAD
}

@media (max-width:768px) {
    .nav-list>li>a>span {
        font-size: 12px;
    }
=======
>>>>>>> origin/gyeowoon
}