.fu_title{
  text-align: center;
}
.fu_title h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

.fuinput_wrap{
  width: 50%;
  border-bottom: 2px solid #749F82;
  margin: auto;
  margin: 15px auto;
}
.fuinput_wrap input {
  transition: height 0.5s;
}
.fu_button{
  background-color:#ffffff;
  border: none;
  margin-bottom: 10px;
}
.fuinput_wrap label{
  display: block;
  cursor: pointer;
}
.fu_input{
  display: block;
  width:100%;
  outline: 0; 
  border: 0;
  height: 0;
}
.fu_text{
  width: 100%;  height: 50%;
  background-color: #eeeeee;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 15px;
  padding: 15px;
}
.fu_ul{
  margin-bottom: 10px;
}
.fu_check{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.fu_submit{
  display: block;
  border: none;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.fu_star{
  font-size: 24px;
  text-align:center;
}