@media (max-width: 1400px) {

  #sec6 {
    width: 100%;
    background-color: #425f57;
    padding: 140px 0;
    box-sizing: border-box;
    color: #fff;
  }
  #sec6_top {
    display: flex;
    justify-content: space-evenly;
  }
  .sec6_left > h4 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .sec6_left_left > li {
    display: flex;
    justify-content: space-between;
  }
  .sec6_left_left > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 25px 20px 30px;
    box-sizing: border-box;
  }
  .sec6_left_left > li :hover {
    background-color: #fff;
    color: #425f57;
    font-weight: 700;
  }
  .sec6_left_left > li > a > span {
    display: block;
  }
  .sec6_left_left > li > a > span:last-child {
    text-align: right;
  }
  .sec_right_top {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .sec6_right > h5 {
    display: flex;
  }
  .sec6_right > h5 > img {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
  }
  .sec6_right > h5 > p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .s6_ri_txt {
    display: block;
    font-size: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: 300;
  }
  .sns_txt {
    font-size: 20px;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .sns_icon {
    display: flex;
  }
  .sns_icon > li {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sns_img {
    display: block;
    width: 35px;
    height: 35px;
  }
  #sec6_bot {
    width: 90%;
    margin: 0 auto;
    padding: 100px 10px 0;
    box-sizing: border-box;
  }
  .sec6_box {
    display: flex;
    justify-content: space-between;
  }
  .sec6_box > a {
    text-decoration: none;
    display: block;
    position: relative;
    width: calc(100% / 6 - 15px);
    height: 180px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 15px;
    color: #fff;
  }
  .sec6_box :hover {
    background-color: #fff;
    color: #425f57;
  }
  .s6_box_txt {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 22px;
    font-weight: bold;
  }
  .s6_box_icon {
    position: absolute;
    display: block;
  }
  .s6_box_icon1 {
    width: 55px;
    height: 55px;
    right: 15%;
    bottom: 10%;
  }
  .s6_box_icon2 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon3 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon4 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon5 {
    width: 47px;
    height: 47px;
    right: 11%;
    bottom: 12%;
  }
  .s6_box_icon6 {
    width: 43px;
    height: 43px;
    right: 13%;
    bottom: 14%;
  }
}

@media (max-width: 1040px) {
  #sec6 {
    width: 100%;
    background-color: #425f57;
    padding: 120px 0;
    box-sizing: border-box;
    color: #fff;
  }
  #sec6_top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .sec6_left > h4 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
  }
  .sec6_left_left > li {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sec6_left_left > li > a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 25px 20px 30px;
    box-sizing: border-box;
  }
  .sec6_left_left > li :hover {
    background-color: #fff;
    color: #425f57;
    font-weight: 700;
  }
  .sec6_left_left > li > a > span {
    display: block;
  }
  .sec6_left_left > li > a > span:last-child {
    text-align: right;
  }
  .sec6_right {
    padding: 200px 5% 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .sec_right_top {
    font-size: 42px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .sec6_callnum {
    padding-top: 0 !important;
    text-align: left;
    font-size: 42px !important;
  }
  .sec6_time {
    display: flex;
  }
  .sec6_time > img {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
  }
  .sec6_ri_le > p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .s6_ri_txt {
    display: block;
    font-size: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: 300;
  }
  .sns_txt {
    font-size: 20px;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .sns_icon {
    display: flex;
  }
  .sns_icon > li {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sns_img {
    display: block;
    width: 35px;
    height: 35px;
  }
  #sec6_bot {
    width: 90%;
    margin: 0 auto;
    padding: 100px 10px 0;
    box-sizing: border-box;
  }
  .sec6_box {
    display: flex;
    justify-content: space-between;
  }
  .sec6_box > a {
    text-decoration: none;
    display: block;
    position: relative;
    width: calc(100% / 6 - 10px);
    height: 155px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 15px;
    color: #fff;
  }
  .sec6_box :hover {
    background-color: #fff;
    color: #425f57;
  }
  .s6_box_txt {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 18px;
    font-weight: bold;
  }
  .s6_box_icon {
    position: absolute;
    display: block;
  }
  .s6_box_icon1 {
    width: 40px;
    height: 40px;
    right: 15%;
    bottom: 10%;
  }
  .s6_box_icon2 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon3 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon4 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon5 {
    width: 37px;
    height: 37px;
    right: 11%;
    bottom: 12%;
  }
  .s6_box_icon6 {
    width: 33px;
    height: 33px;
    right: 13%;
    bottom: 14%;
  }
}

@media (max-width: 820px) {
  #sec6 {
    width: 100%;
    background-color: #425f57;
    padding: 120px 0;
    box-sizing: border-box;
    color: #fff;
  }
  #sec6_top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .sec6_left > h4 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
  }
  .sec6_left_left > li {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sec6_left_left > li > a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 25px 20px 30px;
    box-sizing: border-box;
  }
  .sec6_left_left > li :hover {
    background-color: #fff;
    color: #425f57;
    font-weight: 700;
  }
  .sec6_left_left > li > a > span {
    display: block;
  }
  .sec6_left_left > li > a > span:last-child {
    text-align: right;
  }
  .sec6_right {
    padding: 200px 5% 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .sec_right_top {
    font-size: 42px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .sec6_callnum {
    padding-top: 0 !important;
    text-align: left;
    font-size: 36px;
  }
  .sec6_time {
    display: flex;
  }
  .sec6_time > img {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
  }
  .sec6_ri_le > p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
  }
  .s6_ri_txt {
    display: block;
    font-size: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: 300;
  }
  .sns_txt {
    font-size: 20px;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .sns_icon {
    display: flex;
  }
  .sns_icon > li {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sns_img {
    display: block;
    width: 35px;
    height: 35px;
  }
  #sec6_bot {
    width: 90%;
    margin: 0 auto;
    padding: 100px 10px 0;
    box-sizing: border-box;
  }
  .sec6_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sec6_box > a {
    text-decoration: none;
    display: block;
    position: relative;
    width: calc(100% / 3 - 10px);
    height: 180px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 15px;
  }
  .sec6_box :hover {
    background-color: #fff;
    color: #425f57;
  }
  .s6_box_txt {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 26px;
    font-weight: bold;
  }
  .s6_box_icon {
    position: absolute;
    display: block;
  }
  .s6_box_icon1 {
    width: 55px;
    height: 55px;
    right: 15%;
    bottom: 10%;
  }
  .s6_box_icon2 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon3 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon4 {
    width: 38px;
    height: 38px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon5 {
    width: 47px;
    height: 47px;
    right: 11%;
    bottom: 12%;
  }
  .s6_box_icon6 {
    width: 43px;
    height: 43px;
    right: 13%;
    bottom: 14%;
  }
}

@media (max-width: 630px) {
  #sec6_bot {
    width: 90%;
  }
  .sec6_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sec6_box > a {
    text-decoration: none;
    display: block;
    position: relative;
    width: calc(100% / 3 - 8px);
    height: 155px;
    margin-bottom: 12px;
  }
  .sec6_box :hover {
    background-color: #fff;
    color: #425f57;
  }
  .s6_box_txt {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 20px;
    font-weight: bold;
  }
  .s6_box_icon {
    position: absolute;
    display: block;
  }
  .s6_box_icon1 {
    width: 45px;
    height: 45px;
    right: 15%;
    bottom: 10%;
  }
  .s6_box_icon2 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon3 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon4 {
    width: 28px;
    height: 28px;
    right: 13%;
    bottom: 14%;
  }
  .s6_box_icon5 {
    width: 37px;
    height: 37px;
    right: 11%;
    bottom: 12%;
  }
  .s6_box_icon6 {
    width: 33px;
    height: 33px;
    right: 13%;
    bottom: 14%;
  }
}
