body{
  max-width: 1400px;
  width: 100%;
  margin: 150px auto;
  padding: 0 2rem;
}
h2{
  font-size: 24px;
  margin-bottom: 10px;
}
h4{
  display: inline-block;
}

.mar150{
  margin-bottom: 150px;

}

.pose{
  max-width: 1400px;
  width: 100%; height: 100%;
}

/* 달력 */
.dateHead div {
  background: #749F82;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid div {
  padding: .6rem;
  font-size: .9rem;
  cursor: pointer;
}

.dateBoard div {
  color: #222;
  font-weight: bold;
  min-height: 6rem;
  padding: .6rem .8rem;
  border-radius: 5px;
  border: 1px solid #eee;
}

.noColor {
  background: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0 100px;
}

/* 좌우 버튼 */
.btn {
 display: block;
 width: 20px;
 height: 20px;
 border: 3px solid #000;
 border-width: 3px 3px 0 0;
 cursor: pointer;
}

.prevDay {
  transform: rotate(-135deg);
}

.nextDay {
  transform: rotate(45deg);
}

/* ---- */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
  font-family: Pretendard;
}

.rap {
  max-width: 820px;
  padding: 0 1.4rem;
  margin-top: 1.4rem;
}

.dateHead {
  margin: .4rem 0;
}
.dpdir_subtitle{
  margin-bottom: 100px;
}
.rhscnd_tit{
  margin-bottom: 50px;
}
.rhscnd_tit h2{
  margin-bottom: 10px;
}
.dpdirtitle_wrap{
  margin-bottom: 50px;
}
.tkdwk{
  width: 100%; height: 10px; 
  background-color: #749F82;
}
.cpgja_cover{
  margin: 150px 0;
  position: relative;
}
.cpgja_wrap{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 15px;
}
.cpgja_wrap li {
  width: 30%;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 30px;
}
.cpgja_wrap li h4{
  margin-bottom: 30px;
}
.dpdir_on{
  cursor: pointer;
  background-color: #749F82;
  box-shadow: 1px 1px 5px #222;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  position: absolute;
  bottom : -100px;
  right: 10px;
}


/* follow */

/* .circle { 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  background-color: rgba(155, 240, 18, 0.5); 
  transform: translate(-50%, -50%);
} */

.a1.hold{
  color: #fff;
  background-color: #749F82;
}
.b1.hold{
  color: #eee;
  background-color: #749F82;
}
.c1.hold{
  color: #eee;
  background-color: #749F82;
}

.tnsck li{
  margin-bottom: 30px;
}
.crc_subtitle{
  text-align: center;
  margin-bottom: 50px;
}
.crc_subtitle h1{
  font-size: 32px;
  margin-bottom: 30px;
}
.correc_wrap{
  display: flex;
  justify-content: space-around;
  margin: 35px 0 30px;
}
.correc_title{
  margin-bottom: 35px;
} 
