.pad4 {
  padding: 0 4rem;
}

.mar30{
  display: block;
  margin-bottom:30px;
}
.mar50 {
  margin-bottom: 50px;
}

.mar100 {
  margin-bottom: 100px;
}

.mw140 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0px;
  letter-spacing: 10px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 20px;
}

.gotta_tit h2 {
  font-size: 32px;
}

.pixs {
  width: calc(454.3px - 10px);
  height: 500px;
  border: 2px solid #425F57;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.pixs:hover {
  background-color: #425F57;
  color: #FFFFFF;
}
.pixs:hover .dpdir_intro {
  display: block;
}

.swag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.dpdir_intro{
  text-align: center;
}
.swag2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fff_tit {
  margin: 150px 0 100px;
  text-align: center;
  font-size: 32px;
}
.f20{
  font-size: 20px;
  line-height: 36px;
}
.f20:hover{
  text-decoration: underline;
}
.dpdir_intro {
  display: none;
}
