.wlflfl{
  width: 50px; height: 50px;
  position: fixed;
  top : 50%; right: 30px;
  opacity: 1;
  border-radius: 50%;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000;

}
/* common START*/
body{
  font-family: 'Noto Sans KR', sans-serif;
}
section {
  max-width: 1400px;
  text-align: center;
  margin:150px auto;
}
p {
  font-size: 1.2rem;
}
marquee{
  font-size: 20px;
  
}
img {
  max-width: 1280px;
  width: 90%; height: 675px;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;
}
.second_tit{
  font-size: 2rem;
  font-weight: 700;
}
.leaf{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  background-image: url(../img/icon_leaf.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 2rem;
}
.Auditorium_wrap div{
  clear: both;
}
.sub_tit{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.line_tit{
  display: inline-block;
  width: 80%; height: 1px;
  border-bottom: 1px solid;
  margin: 0.75rem;
}
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0px;
  letter-spacing: 10px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 2px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 20px;
}
.CAUTION ul {
  text-align: start;
  padding-left: 11rem;
  line-height: 2rem;
}
.large_rkdekd_img{
  width: 100%;height: 100%;
  position: relative;
}
.small_rkdekd_img{
  width: 100%;height: 100%;
  position: relative;
}
/* before */
.small_rkdekd_img::before{
  content: "";
  width: 100%; height: 100%;
  background-color: #749F82;
  position: absolute;
  bottom: -50px; left: -400px;
  z-index: -1;
}
.large_rkdekd_img::before{
  content: "";
  width: 100%; height: 100%;
  background-color: #749F82;
  position: absolute;
  bottom: -50px; left: -400px;
  z-index: -1;
}
/* rkdekd txt */
.rkdekd_txt{
  display: none;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0.5);
  width: 90%;
  padding: 3rem 0 3rem 2.5rem;
  box-sizing: border-box;
  font-size: 1.25rem;
  border-radius: 8px;
  text-align: left;
  position: absolute; bottom: -14.2%; left: 49.98%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: fadeInUp 1s;
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(100%);
  }
}
.small_rkdekd_img:hover .th.rkdekd_txt{
  display: inline-block;
}
.large_rkdekd_img:hover .eo.rkdekd_txt{
  display: inline-block;
}


@media (max-width:1280px) {
 .sub_tit{
  flex-direction: column;
 }
  .second_tit{
    font-size:28px;
  }
}
@media (max-width:1024px) { 
  .second_tit {
    font-size : 24px;
  }
}